:host ::ng-deep .ui-table .ui-table-caption {
    background-color: transparent;
    color: #333333;
    border: none;
    padding: 0.571em 0em;
    text-align: center;
}

.additionalClass {
    font-size: 1.286em;
    font-weight: 500;
    color: #694ED6;
    letter-spacing: 0px;
}
.pad-all {
    padding: 1em;
}
.pCardClass {
    width: 100%;
}