.buttonArabic {
    float: left;
}

.buttonOtherLang {
    float: right;
}

.buttonShiftLeft {
    left: -17.5em;
    position: relative;
}

.buttonShiftRight {
    right: 1em;
    position: relative;
}