@import "../../../../styles/variables.scss";

.parentContainerToggle {
  width: 28.875em;
  background-color: #FAFAFA;
  right: 0em;
  float: right;
  top: 7em !important;
  bottom: 0em;
  position: fixed;
  padding: 20px;

}

.margiTop{
  margin-top: -15px;
}

.userName{
  color: $fuchsiaColor !important;
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  position: relative;
  bottom: -10px;
  font-weight: bold;
  left: -15px;
}
.userIcon{
  position: relative;
  font-size: 2.57em;
  color: $secondaryColor;
  font-size: 35px;
  cursor: default;
}

.inqueryTitle{
  color: $VIOLET-PRIMARY-COLOR !important;
  margin: 0 !important;
}
.fcc-form-header{
  margin-top: 0 !important;
}
.emptyMessage{
  padding: 30px;
}
@media screen and (max-width: 597px) {
.parentContainerToggle {
    top: 0em;
    height: 100%;
}
}

@media screen and (max-width: 1160px) and (min-width: 645px) {
.parentContainerToggle {
  top: 2.9em;
}
}

.parentContainer {
width: 28.875em;
background-color: #FAFAFA;
left: 0em;
float: left;
bottom: 0em;
top: 7.8em;
position: fixed;
padding: 20px;

}

.parentContainer[dir="rtl"] {
  float: left;
  left: -1em;
}
.label-header{
  margin-bottom: -0.9em !important;
}

.bodyContainer {
  height: 50%;
  overflow-y: scroll;
}
.bodyContainerf {
  height: 85%;
  overflow-y: scroll;
}

.footerContainer {
  margin-top: 1.3em;
  margin-left: 0.28em
}

.submitBtn {
  margin-left: 0.3em;
}
.set-entity-sub-header {
  margin-left: 0.7em;
}
.spinnerStyle{
  height: 80%;
  margin: auto;
  width: 16%;
  padding-top: 50%;
}
// :host ::ng-deep .primaryButton {
//   background-color: $primaryColor !important;
// }

a.mat-button .mat-icon, a.mat-raised-button .mat-icon,
a.mat-stroked-button .mat-icon, a.mat-flat-button .mat-icon,
button.mat-button .mat-icon, button.mat-raised-button .mat-icon,
button.mat-stroked-button .mat-icon, button.mat-flat-button .mat-icon {
  right: 0em;
}

.icon-close {
  text-align:center;
  left: -2em;
}

.icon-close-left {
  text-align: center;
  top: -1em;
}

.setEntityDropdown {
  margin-left: 0.5em;
  padding-bottom: 0em;
  padding-left: 0em;
}

.setEntityDropdown[dir="rtl"] {
  margin-right: 1em;
}

.side_bar{
  padding-right: 1em;
  position : sticky;
  top : 0;
  height : 100%;
  overflow-y : scroll;
}

.side_bar::-webkit-scrollbar{
  width: 0.3125em;
  height: 0.0625em;
}

.side_bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.0625em grey;
  border-radius : 0.3125em;
}

.side_bar::-webkit-scrollbar-thumb{
  background: #a3a1a1 !important;
  border-radius: 0.3125em;
}

.side_bar::-webkit-scrollbar-thumb:hover {
  background:#009eb3;
}

:host ::ng-deep .applicant_bene_entity_class .ui-dropdown span.ui-dropdown-label {
  padding-left: 0.45em !important;
}

:host ::ng-deep body .ui-dropdown .ui-dropdown-label {
  padding-right: 17.6em !important;
}

.applicant_bene_entity_class.ui-float-label > .ui-inputwrapper-filled ~ label,
.applicant_bene_entity_class.ui-float-label > .ui-inputwrapper-focus ~ label,
.applicant_bene_entity_class.ui-float-label > input.ui-state-filled ~ label,
.applicant_bene_entity_class.ui-float-label > input:focus ~ label,
.no-margin-multiselect.ui-float-label > .ui-inputwrapper-filled ~ label,
.no-margin-multiselect.ui-float-label > .ui-inputwrapper-focus ~ label,
.no-margin-multiselect.ui-float-label > input.ui-state-filled ~ label,
.no-margin-multiselect.ui-float-label > input:focus ~ label {
  top: 0.8em !important;
  left: 0.8em !important;
}

.invalid-error-text {
  color: red;
  font-size: 0.75em;
  margin-left: 1.5em;
  font-weight: 300;
}

[dir="rtl"] .invalid-error-text {
  margin-right: 1.5em;
}

.applicant_bene_entity_class[dir="rtl"] .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item,
.no-margin-multiselect[dir="rtl"] .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
border-left: none !important;
border-right: 0.4em solid transparent !important;
}

.applicant_bene_entity_class[dir="rtl"] .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover,
.no-margin-multiselect[dir="rtl"] .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover {
border-left: none !important;
border-right: 0.4em solid rgba(105, 78, 214, 0.2) !important;
background-color: rgba(105, 78, 214, 0.04) !important;
}

.applicant_bene_entity_class[dir="rtl"] .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight,
.no-margin-multiselect[dir="rtl"] .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight {
background-color: transparent !important;
color: $primaryColor !important;
border-left: none !important;
border-right: 0.4em solid $primaryColor !important;
font-weight: 500 !important;
}

.ui-float-label[dir="rtl"] .ui-dropdown span.ui-dropdown-label {
font-size: 16px;
font-weight: 500;
padding-top: 0.429em !important;
text-align: right;
padding-right: 0em;
}

.applicant_bene_entity_class[dir="rtl"] .ui-dropdown span.ui-dropdown-label,
.no-margin-multiselect[dir="rtl"] .ui-dropdown span.ui-dropdown-label {
padding-right: 0.75em;
}

.applicant_bene_entity_class[dir="rtl"] .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon,
.no-margin-multiselect[dir="rtl"] .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon {
right: auto;
left: 1.375em;
}

.applicant_bene_entity_class[dir="rtl"] .ui-dropdown .ui-dropdown-trigger,
.no-margin-multiselect[dir="rtl"] .ui-dropdown .ui-dropdown-trigger {
right: auto;
left: 0em;
}
.buttonAlign {
padding-top: 4em;
text-align: right;
}

.buttonSpace {
margin-left: 2em;
}
.applicant_bene_entity_class[dir="rtl"] .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon,
.no-margin-multiselect[dir="rtl"] .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
top: 33%;
left: 66%;
font-size: 14px;
color: #696969;
}

:host ::ng-deep .material-icons {
position: relative !important;
padding-right: 0.2em;
padding-top: 0em;
right: 0em;
}

.labelClass {
color: #545454 !important;
font-family: 'Roboto-Medium' !important;
font-size: 0.75em;
}
