<div class="p-grid" *ngIf="isPresent" [ngClass]="(checkCustomise == true) ? 'pointerEnable':'pointerDisable'">
  <div class="p-col-12" style="padding-bottom: 3em;">
    <p-table [columns]="searchRow" [value]="slicedList" [responsive]="true">
     <ng-template pTemplate="header">
      <tr class="ui-resizable-column">

        <th class="padding-x-2" scope="col" *ngFor="let colmn of searchRow" id="{{colmn.id}}" ngClass="{{colmn.class}}">
          {{colmn.header}}
      </th>

      </tr>
  </ng-template>
      <ng-template pTemplate="body" let-rowData  let-i="rowIndex" >
        <tr class="ui-selectable-row"  >

            <td class="padding-x-2">
              <tr class = "dateChange">
                {{rowData.Date | date:'d'}}
              </tr>
              <tr class = "dateDesc year">
                {{rowData.Date | date:'MMM yyyy'}}
              </tr>
            </td>

            <td class="padding-x-2">
              <div class="line-breaker flex-row">
                  <div class="line-breaker1" title = {{rowData.Description}} [innerHTML] = 'rowData.Description'> </div>
                  <button role="button" 
                  class="info-button"
                  #tooltip="matTooltip"
                  (click)="tooltip.toggle()"
                  (mouseenter)="$event.stopImmediatePropagation()" 
                  (mouseleave)="$event.stopImmediatePropagation()"
                  mat-icon-button
                  [matTooltip]="rowData.Description"
                  matTooltipPosition="below"
                  aria-tooltip="Full Description"
                >
                  <mat-icon>info</mat-icon>
                </button>
              </div>
            </td>

            <td class="amtLabel padding-x-2">
              <ng-container *ngIf="rowData.transactionType === 'DEBIT'">
              <span>{{rowData.amount}}</span>
              <span class = "debit wrap">{{'Dr' | translate}}</span>
              </ng-container>
              <ng-container *ngIf="rowData.transactionType === 'CREDIT'">
                <span>{{rowData.amount}}</span>
                <span class = "credit wrap">{{'Cr' | translate}}</span>
                </ng-container>
            </td>
            <!-- <td>
              <div *ngIf="rowData.transactionType === 'DEBIT'">
                <img src={{debitImage}} alt="{{'debit' | translate}}">
              </div>
              <div *ngIf="rowData.transactionType === 'CREDIT'">
                <img src={{creditImage}} alt="{{'credit' | translate}}">
              </div>
            </td> -->


        </tr>
      </ng-template>
  </p-table>
  </div>
</div>
