@import './../../../../../../../styles/variables.scss';
.successTick {
  text-align: center;
  margin-top: 1.5em;
}

.successTick em {
  color: $successTickColor;
  font-size: 2.5em;
}

.success,
.successMessage {
  text-align: center;
}

.success {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1em;
  color: $successColor;
}

.successMessage {
  color: $successColor;
}

.finalDetails {
  margin-top: 3em;
}
.circleBackgroundLC {
  display: inline-block;
  border-radius: 50%;
  min-width: 1.875em;
  min-height: 1.875em;
  padding: 1.2125em;
  font-size: 1.125em;
  text-align: center;
  line-height: 1.875em;
  box-sizing: content-box;
  white-space: nowrap;
}

.circleBackground:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
  height: 0;
}

.justifyGrid {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.subDetails {
  margin-top: 1em;
}

.dataFont1 {
  color: #545454;
  font-weight: 500;
  font-size: 1.2em;
  text-transform: capitalize;
}
.dataFont2 {
  color: #545454;
  font-weight: 500;
  font-size: 1.2em;
  word-break: break-word;
}

.headerFont {
  color: #9f9f9f;
}

.listing {
  margin-right: 1.8em;
}

:host ::ng-deep .p-grid {
  margin: 0em;
}

:host ::ng-deep .ui-card {
  box-shadow: 0.0625em 0.0625em 0.1875em 0.0625em rgba(0, 0, 0, 0.2),
    0.0625em 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.14),
    -0.125em -0.125em 0.0625em -0.0625em rgba(0, 0, 0, 0.12);
}

.pdf {
  padding-left: 3em;
  font-size: 1.3em;
  cursor: pointer;
}

.pdfIcon {
  padding-left: 2em;
  font-size: 1.3em;
}

.lcButton {
  margin-bottom: 6em;
}

.icon {
  font-size: 1.5em;
}

.align {
  margin-left: 25.66666667%;
}

.headerAlign {
  margin-left: 3.5em;
}
.headerStyle {
  color: $headerStyleColor;
  font-weight: 600;
  margin-left: 3em;
}

.templateAlign {
  margin-left: 6em;
}

.textAlign {
  margin-left: 3em;
}

.buttonAlign {
  margin-right: 8em;
}

.divRow{
  padding-left: 2em;
  margin-top: -1.5em;
}

.desc{
  width: 100%;
  word-wrap: break-word;
}
