@import './../../../../../styles/variables.scss';
:host
  ::ng-deep
  .ui-fluid
  .ui-buttonset.ui-buttonset-2
  .ui-button {
  width: 50% !important;
}
:host
  ::ng-deep
  .ui-selectbutton
  .ui-button.ui-state-active .ui-button-text{
  color: $uiSelectButtonActiveColor !important;
}
:host
  ::ng-deep
  .ui-selectbutton
  .ui-button:not(.ui-state-disabled):not(.ui-state-active)
  .ui-button-text {
  color: $primaryColor !important;
}
:host
  ::ng-deep
  .ui-selectbutton
  .ui-button.ui-state-default
  .ui-button-icon-left {
  display: none;
}

:host
  ::ng-deep
  .ui-selectbutton
  .ui-button.ui-state-active {
  background-color: $primaryColor !important;
}
:host
  ::ng-deep
  .ui-selectbutton
  .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover
  .ui-button-icon-left {
  color: $ui-selectbutton-active-hover-Color;
}

.submitBtn {
  width: 100%;
  margin-left:-0.515em
}
.main-form-container {
padding: 0em 15% 0em 15%;
}

.form-render-wrapper{
  width: 100%;
}

  .logo-img {
    margin-left: -1.95em;
    margin-bottom: 1.5em;
  }

.logo-img img {
  max-height: 4em;
  max-width: 9em;
  cursor: pointer;
}

.logo-img a:focus, .supportLink a:focus {
  outline: 0.125em solid $primaryColor !important;
}

.readmode .select-button-pd {
  padding-left: 0em !important;
}
.captcha-margin{
  margin-left: -1em !important;
}
:host
::ng-deep
.mat-form-field {
  margin-left: -1em;
}
.fcc-field-message {
  margin-left: -1em !important;
}
