##
## -----------------------------------------------------------------------
## (C) 2003 INTERMETA - Gesellschaft für Mehrwertdienste mbH
## -----------------------------------------------------------------------
##
## All rights reserved. Freely distributable as long as this
## copyright notice is kept intact.
##
##
## @author <a href="hps@intermeta.de">Henning P. Schmiedehausen</a>
## @version GlobalMacros.vm,v 1.2 2004-10-21 21:27:12 sn Exp

