@import './../../../../../../styles/variables.scss';
.p-col-1, .p-col-2, .p-col-3, .p-col-4, .p-col-5, .p-col-6, .p-col-7, .p-col-8, .p-col-9, .p-col-10, .p-col-11, .p-col-12 {
    padding: 0;
    flex: 0 0 auto;
}

[dir=ltr] .dateStyle {
    font-style: italic;
    font-size: 1em;
    color: $GRAY-DARKGRAY-01;
    float: right;
    margin-right: .75em;
}
[dir=rtl] .dateStyle {
  font-style: italic;
  font-size: 1em;
  color: $GRAY-DARKGRAY-01;
  float: left;
  margin-left: .75em;
}