<div id='BookmarkPortlet' class='portlet'>
	<div class='portlet-section-header portlet-font'>
		<h2 class='portlet-title'>My Bookmarks</h2>
	</div>
	<div class='portlet-font portlet-section-body'>
		<div id='favorites'>
			<div name='sendBookmark' id='sendBookmark' dojoType='dijit.form.Form'>
				<div></div>
			</div>
			<ul>
				<li id='nofavorites'>No Bookmarks</li>
				<li id='addBookmark'><a href="javascript:fncDoBookmarkAction('SAVE','OpenGeneralLC','','OpenGeneralLC','LetterOfCreditScreen');">Add Bookmark</a>
			</ul>
		</div>
	</div>
</div>