@import './../../../../../../../styles/variables.scss';

/* common css in application and general detals */
:host ::ng-deep .pi-chevron-down:before {
  display: block;
}

:host ::ng-deep .ui-float-label .ui-widget {
  margin-left: 0px;
  width: 100%;
}

:host ::ng-deep .ui-inputtext {
  border: none;
  border-bottom: $uiInputTextBorderBottom01;
}

:host ::ng-deep .amendLabelStyle .infodisplaylabel {
  margin-left: -0.5em;
}

:host ::ng-deep.amendNarrativeStyle textarea {
  line-height: 1.4em;
  font-size: 1em !important;
  resize: none;
}

:host ::ng-deep .mat-checkbox-disabled .mat-checkbox-checkmark {
  background-color: $formCheckboxColor;
}
:host ::ng-deep .mat-checkbox {
  padding-left: 0em;
}


:host ::ng-deep.amendNarrativeStyle textarea:focus ~ label,
:host ::ng-deep.amendNarrativeStyle textarea.ui-state-filled ~ label {
  top: -1.5em;
}

:host ::ng-deep.subheader-title{
  margin-left: 0em;
  margin-top: 0.5em;
}

:host ::ng-deep.margin-all-side {
  margin: 15px 20px 0px 0px;
}

/*end  */

:host ::ng-deep.rounded-btn-class {
  margin-left: 15px;
}

p-radiobutton.rightwrapper {
  padding-left: 2em !important;
}

:host ::ng-deep .ui-button.ui-state-default.ui-button-secondary {
  color: #333333;
  background-color: #fafafa;
  border: 1px solid #a6a6a6;
}

:host ::ng-deep.margin-side {
  margin: 0px 20px 0px 0px;
}

:host ::ng-deep.widthHeight {
  width: 100%;
  height: 35.8px;
}

:host ::ng-deep.maxwidthHeight {
  width: 100%;
  height: 3.7em;
}

:host ::ng-deep .ui-button-text-icon-left .ui-button-icon-left {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  height: 1em;
  color: $uiButtonTextIonLeftColor;
}

:host ::ng-deep .activeClass {
  background-color: $activeclassBackgroundColor !important;
  color: $activecolor !important;
  border-color: $primaryColor !important;
}

:host ::ng-deep .ui-button.ui-button-text-icon-left .ui-button-text {
  padding: 0.429em 1em 0.429em 1em;
}

/* Expiry Date CSS Start */
// .expiryDateStyle {
//   position: relative;
//   display: -webkit-box;
//   display: flex;
//   margin-top: 0em;
//   margin-bottom: 0.5em;
//   margin-right: 1.25em;
//   width: 100%;
// }

:host ::ng-deep .expiryDateStyle .ui-inputtext:enabled:hover {
  border-color: $expiryDateStyleBorderColor;
}

:host ::ng-deep.expiryDateStyle p-calendar {
  width: 100%;
}

:host ::ng-deep.placeOfExpiry{
  width: 100%;
}

:host ::ng-deep .expiryDateStyle .ui-calendar {
  position: relative !important;
  display: -webkit-box !important;
  display: flex !important;
  width: 100% !important;
}

:host ::ng-deep .expiryDateStyle .ui-calendar .ui-datepicker.ui-widget {
  background-color: $uidatePickerBackgroundColor !important;
}

:host ::ng-deep .ui-datepicker {
  background-color: $uidatePickerBackgroundColor !important;
}

:host
  ::ng-deep
  .ui-datepicker
  .ui-datepicker-header
  .ui-datepicker-title
  select {
  border: none;
  font-weight: 500;
}

:host ::ng-deep .ui-button:enabled:hover {
  background-color: transparent;
  border-color: $uiButtonHoverbordercolor;
}

:host ::ng-deep .ui-datepicker table td > a.ui-state-active,
:host ::ng-deep .ui-datepicker table td > span.ui-state-active {
  color: $uidatepickertableColor;
  background-color: $primaryColor;
}

:host ::ng-deep .ui-datepicker table td.ui-datepicker-today > a.ui-state-active,
:host
  ::ng-deep
  .ui-datepicker
  table
  td.ui-datepicker-today
  > span.ui-state-active {
  background-color: $primaryColor;
}

:host ::ng-deep .ui-button:enabled:focus {
  box-shadow: none;
}

:host
  ::ng-deep
  .ui-calendar.ui-calendar-w-btn
  .ui-datepicker-trigger.ui-button {
  color: $uidatePickerColor;
}

:host
  ::ng-deep
  .ui-datepicker:not(.ui-state-disabled)
  table
  td
  a:not(.ui-state-active):not(.ui-state-highlight):hover {
  font-weight: normal;
}

/* Expiry Date CSS End */

:host ::ng-deep .fcc-radio-button .p-grid {
  width: 100%;
}

:host ::ng-deep .ui-inputtext {
  background: transparent !important;
}

:host ::ng-deep .ui-dropdown-items-wrapper {
  overflow-x: hidden !important;
}

/* selected button css start */

:host ::ng-deep .ui-fluid .ui-buttonset.ui-buttonset-3 .ui-button,
:host ::ng-deep .ui-fluid .ui-buttonset.ui-buttonset-4 .ui-button {
  width: auto;
  min-width: 7em;
}

:host ::ng-deep .request .ui-selectbutton .ui-button,
:host ::ng-deep .createform .ui-selectbutton .ui-button {
  border-radius: 1.2em !important;
  margin-right: 0.8em;
}

:host ::ng-deep .transmission .ui-selectbutton .ui-button {
  margin-right: 3em;
}

:host
  ::ng-deep
  .transmission
  .ui-fluid
  .ui-buttonset.ui-buttonset-3
  .ui-button {
  width: 25%;
}
:host ::ng-deep .transmission .ui-button.ui-button-text-only .ui-button-text {
  padding: 1.2em 2em !important;
}

:host
  ::ng-deep
  .transmission
  .ui-selectbutton
  .ui-button.ui-state-default
  .ui-button-icon-left {
  color: $ui-selectbutton-login-Color;
}

:host
  ::ng-deep
  .transmission
  .ui-selectbutton
  .ui-button.ui-state-active
  .ui-button-icon-left {
  color: $ui-selectbutton-login-active-Color !important;
}
:host
  ::ng-deep
  .transmission
  .ui-selectbutton
  .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover
  .ui-button-icon-left {
  color: $ui-selectbutton-login-active-disabled-hover-Color;
}

/* selected button css end */

:host ::ng-deep .ui-datepicker .ui-button.ui-state-default.ui-button-secondary {
  width: auto;
}

:host ::ng-deep.fcc-input-checkbox-display label {
  display: none;
}

p-radiobutton.leftwrapper {
  padding-left: 1em !important;
}

p-checkbox.leftwrapper {
  padding-left: 0em !important;
}

:host ::ng-deep .checking-testing{
  background: gray;
}

:host ::ng-deep.fcc-radio-button-display label {
  display: none;
}

:host ::ng-deep.dropdownlabel {
  display: none;
}

:host ::ng-deep.nextSectionDiv,
:host ::ng-deep.prevSectionDiv {
  bottom: 2em;
}
:host ::ng-deep.removeLabelStyle{
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.75em;
  margin: 0.40em 0 0 -17em;
  max-width: 5em;
  z-index: 2;
  text-align: left;
  position: absolute;

}

:host ::ng-deep[dir=rtl] .removeLabelStyle{
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.75em;
  margin: 0.40em -15em 0 0;
  max-width: 5em;
  z-index: 2;
  text-align: left;
  position: absolute;

}

:host ::ng-deep.fetchedRefValueStyle {
  max-width: 11em;
  pointer-events: none;
}

[dir=rtl].fetchedRefValueStyle {
  max-width: 11em;
  pointer-events: none;
  right: -21em;
}

:host ::ng-deep #fetchedRefValue {
  max-width: 15em;
  border: none;
  font-size: 0.75em !important;
  position: relative;
  right: 9em;
  bottom: 2em;
  z-index: 1;
  text-align: left;
}

:host ::ng-deep.referenceSelectedStyle {
  color: $refrenceSelectedStyleColor !important;
  font-size: 0.75em;
  position: relative;
  left: 1em;
  margin-top: 0.40em;
  font-weight: normal;
  z-index: 0;
  text-align: left;
}

:host ::ng-deep[dir=rtl] .referenceSelectedStyle {
  color: $refrenceSelectedStyleColor !important;
  font-size: 0.75em;
  position: relative;
  left: 1em;
  margin-top: 0.40em;
  font-weight: normal;
  z-index: 0;
  text-align: right;
  right: 0.2em;
}
:host ::ng-deep.arabicReferenceSelected {
  color: $selectedStyleColor !important;
  margin-top: 0;
  position: relative;
  left: 17em;
  z-index: 0;
}
:host ::ng-deep.arabicFetchedRefValue {
  position: relative;
  left: 17em;
  z-index: 1;
  pointer-events: none;
}
:host ::ng-deep.arabicRemoveLabel {
  left: 17em;
  position: relative;
  z-index: 2;
}
:host ::ng-deep.templateSelectionStyle {
  color: $templateSelectionStyleColor !important;
  font-size: 0.75em;
  position: relative;
  left: 0.60em;
  margin-top: 0.40em;
  font-weight: normal;
  z-index: 0;
  text-align: left;
}
:host ::ng-deep.arabicTemplateSelection {
  right: 1em;
  position: relative;
  color: $templateSelectionStyleColor !important;
  margin-top: 0;
  z-index: 0;
}
:host ::ng-deep.arabicFetchedTemplate {
  left: 12em;
  z-index: 1;
  pointer-events: none;
}
:host ::ng-deep.arabicRemoveLabelTemplate {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 0;
  left: 11em;
  position: relative;
  z-index: 2;
}
:host ::ng-deep.arabicSRNumber {
  right: 13em;
  position: relative;
  color: $SRNNumberColor !important;
  margin-top: 0;
  z-index: 0;
}
:host ::ng-deep.arabicSRNumberValue {
  right: 12em;
  z-index: 1;
  pointer-events: none;
}
:host ::ng-deep.arabicRemoveLabelSR {
  right: -5em;

}
#fetchedTemplate {
  max-width: 13em;
  border: none;
  font-size: 0.75em !important;
  pointer-events: none;
  position: relative;
  right: 9em;
  bottom: 2em;
  z-index: 1;
  text-align: left;
}
:host ::ng-deep.removeLabelTemplateStyle {
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.75em;
  margin: 0.40em 0 0 -17em;
  max-width: 5em;
  position: absolute;
  z-index: 2;
  text-align: left;
}
:host ::ng-deep.srNumberStyle {
  color: $SRNNumberColor !important;
  font-size: 0.75em;
  position: relative;
  left: 22em;
  margin-top: 0.50em;
  font-weight: normal;
  z-index: 0;
  text-align: left;
}

#srNumberValue {
  max-width: 13em;
  border: none;
  font-size: 0.75em !important;
  position: relative;
  left: 0em;
  z-index: 1;
  pointer-events: none;
  text-align: left;
}
:host ::ng-deep.srNumberValueStyle{
  left: 6em;
  bottom: 1.4em;
  width: 9em;
}
:host ::ng-deep .srNumberValueStyle .mat-form-field-appearance-fill .mat-form-field-flex,
:host ::ng-deep .templateSelectionValueStyle .mat-form-field-appearance-fill .mat-form-field-flex,
:host ::ng-deep .fetchedRefValueStyle .mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: transparent;
}
:host ::ng-deep .srNumberValueStyle .mat-form-field-wrapper .mat-form-field-underline,
:host ::ng-deep .templateSelectionValueStyle .mat-form-field-wrapper .mat-form-field-underline,
:host ::ng-deep .fetchedRefValueStyle .mat-form-field-wrapper .mat-form-field-underline{
  width: 0;
}
:host ::ng-deep.removeLabelSRStyle {
  cursor: pointer;
  font-size: 0.75em;
  z-index: 2;
  position: relative;
  margin-left: -10.5em;
  margin-top: 2em;
  color: $FUCHSIA-F100;
  letter-spacing: 0.05em;
}

:host ::ng-deep.mat-card-width {
  width: auto;
}

:host ::ng-deep.selectBackToBackLC {
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.8em;
  margin: 0 0 0 1em;
  max-width: 15em;
  text-align: left;
  position: absolute;
}
:host ::ng-deep.browseButton{
  border-radius: 1.125em !important;
  padding: 0 1em !important;
  min-width: 4em !important;
  line-height: 2.25em !important;
  font-size: 0.875em !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  outline: 0 !important;
  border: 0.0625em solid $primaryButtonBackground !important;
  border-color: $primaryButtonBackground  !important;
  display: inline-block !important;
  text-decoration: none !important;
  vertical-align: baseline !important;
  text-align: center !important;
  background-color: $browseButtonBackgroundColor !important;
  margin-left: 0.5em !important;
}
:host ::ng-deep.hintForBackToBack {
  color: $primaryColor;
  font-size: 0.9em;
  text-align: left;
  position: absolute;
  letter-spacing: 0.02em;
  font-weight: 400;
  padding-left:2.5em !important;
}
:host ::ng-deep.noteForBackToBack
{
  color: $primaryColor;
  font-size: 0.9em;
  text-align: left;
  letter-spacing: 0.02em;
  font-weight: 400;
}
:host ::ng-deep.otherApplicableRulesStyle {
  position: relative;
  height: 100%;
}

:host ::ng-deep.otherApplicableRulesStyle .ui-float-label {
  position: absolute;
  width: 97%;
  bottom: 0.4em;
}

:host ::ng-deep.viewModeMargin {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

:host ::ng-deep .ui-float-label .ui-widget {
  min-width: 100%;
  resize: none;
}

:host ::ng-deep textarea.mat-input-element {
  resize: none;
}


#backToBackLC{
  color: $SecondaryButtonColor;
}

:host ::ng-deep.select-msg-width {
  width: 41.6667% !important;
}
::ng-deep {

:host ::ng-deep.toggle-chip .mat-button-toggle-group.mat-button-toggle-group-appearance-standard .mat-button-toggle.mat-button-toggle-checked .mat-button-toggle-button, ::ng-deep.mat-button-toggle-group.mat-button-toggle-group-appearance-standard .mat-button-toggle.mat-button-toggle-checked .mat-icon {
color:$regular-Button-color;
background-color: $regular-Button-Background;
border-radius: 16px;
}

:host ::ng-deep.uxg-filtering-toggle-group.mat-button-toggle-group.mat-button-toggle-group-appearance-standard .mat-button-toggle.mat-button-toggle-checked{
  border-color:$regular-button-border-color;
}
}

:host ::ng-deep.transmission .uxg-filtering-toggle-group.mat-button-toggle-group.mat-button-toggle-group-appearance-standard {
  width: 100%;
  flex-wrap: nowrap;
}

:host ::ng-deep.transmission .uxg-filtering-toggle-group.mat-button-toggle-group .mat-button-toggle {
  width: 21%;
  min-width: fit-content;
  max-width: 275px;
}

:host ::ng-deep.transmission .mat-button-toggle-label-content .material-icons {
  right: auto;
  left: -15%;
}

@media screen and  (max-width: 834px) and (min-width: 768px) {
  :host ::ng-deep .transmission .mat-button-toggle-label-content .material-icons {
    left: 1% !important;
  }
  :host ::ng-deep .browse-button-margin {
    position: relative !important;
    left: 7em !important;
  }
  :host ::ng-deep .removeLabelSRStyle {
    position: relative;
    margin-left: 31.5em !important;
    margin-top: -25em !important;
  }
  :host ::ng-deep .removeLabelStyle{
    position: relative !important;
    margin: 0.40em 0 0 -2em !important;
  }
  :host ::ng-deep .fetchedRefValueStyle {
    left: 5em !important;
  }
}

@media screen and  (min-width: 1024px) and (max-width: 1180px) {
  :host ::ng-deep .transmission .mat-button-toggle-label-content .material-icons {
    left: -7% !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 1180px) {
  :host ::ng-deep .p-sm-6 {
    width: 40.6667% !important;
  }

  :host ::ng-deep .p-sm-5 {
    width: 40.6667% !important;
  }
}


@media screen and  (min-width: 1024px) and (max-width: 1180px){
  :host ::ng-deep.select-msg-width {
    width: 60% !important;
  }
}
