.fcc-form-header {
  display: none;
}

.p-grid, .m-2 {
margin: 0em;
width: 100%;
height: 100%;
}

.firstTimeLoginImageLayout, .firstTimeLoginImage {
width: 100%;
height: 100%;
}

.firstTimeLoginImage img {
width: 100%;
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: 100% 100%;
}
