@import './../../../initiation/component/si-narrative-details/si-narrative-details.component.scss';

:host ::ng-deep .characterCountDivfield .ui-inputtext {
    background-color: transparent;
    padding-top: 0.5em;
    width: 18em;
}
