.matCardRemove{
    cursor: pointer;
    font-size: 0.85em;
    text-align: left;
    left: 41.5em;
    right: auto;
    position: absolute;
    margin-top: 0.25em;
    color: #c137a2;
    letter-spacing: 0.05em;
}