.p-grid {
  margin: 0px;
}

.p-col-12 {
  padding: 0px;
}

  .entirePage {
    width: 100%;
    height: 100%;
    position: relative;
  }

 .header1 {
    margin: 0em;
    padding: 0em;
  }
  .left-form {
    padding: 0em 2em 0em 3em;
  }

  @media screen and (max-width: 64em) {
    .left-form {
      width: 100%;
    }
    .no-mr-pd {
      width: 100% !important;
      height: 100% !important;
    }
  }