##
## Error page.
##

$page.setTitle("Error Message")

<h2>Error</h2>

The following error occured:

<pre>$processingException</pre>

<hr>

#if ($!stackTrace)
Java Stack Trace:

<pre class="framework_error">$stackTrace</pre>
#end
