## @version Template2.vm,v 1.2 2004-10-21 21:27:12 sn Exp
##
## -----------------------------------------------------------------------
## (C) 2003 INTERMETA - Gesellschaft für Mehrwertdienste mbH
## -----------------------------------------------------------------------
##
## All rights reserved. Freely distributable as long as this
## copyright notice is kept intact.
##
##
## @author <a href="hps@intermeta.de">Henning P. Schmiedehausen</a>
## @version Template2.vm,v 1.2 2004-10-21 21:27:12 sn Exp

<h1>I am the second Template</h1>

<form method="post" action="$link.setPage("SwitchScreen.vm")">
  <input type="hidden" name="action" value="SwitchAction" />
  <input type="submit" value="Go to Template 1" name="eventSubmit_doScreen1" />
</form>

