## Sample template

<h1>I am the first Template</h1>

<form method="post" ">
  <input type="hidden" name="action" value="SwitchAction" />
  <input type="submit" value="Go to Template 2" name="eventSubmit_doScreen2" />
</form>

