
  :host ::ng-deep .ui-table .ui-table-thead > tr {
    border-bottom: 1px solid #d7d6d7 !important;
    background-color: #fbfafe;
  }
.iconvisible .iconsWrapper {
    visibility: visible;
    text-align: center !important;
}
.iconsWrapper {
    visibility: visible;
}

:host ::ng-deep .ltr.ui-toolbar-group-right {
    float: right;
    cursor: pointer;
    margin-bottom: 0.7em;
}
:host ::ng-deep .rtl.ui-toolbar-group-right {
  float: left;
  cursor: pointer;
  margin-bottom: 0.7em;
}

.centeredPos{
  text-align: center !important;
}
:host ::ng-deep .ui-table table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #E4E4E4;
}

.rtl {
  text-align: right !important;
  padding-right: 2em !important;
}

.norecfoundtextcss{
  font-weight: 500;
  font-size: 1em;
}

.fcc-icon {
  margin-left: 0.25em;
  margin-right: 0.25em;
  font-size: 1.429em;
}

.fcc-download-icon {
  color: #505050;
}

.fcc-empty-icon-block {
  margin: 1.6em;
}

.fcc-view-file-icon {
  width: 1.2em;
  // margin-right: 0.75em;
}

.fcc-view-file-div {
  width: 50%;
  float: left;
  margin-top: 0.4em;
}


