<ng-container [formGroup]="form">
  <div>
    <p-table #dt [columns]="control?.params?.columns" [value]="control?.params?.data" selectionMode="multiple">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th id="feecharges" scope="col" *ngFor="let colmn of columns">
                  <span class="header-of" tabindex="0" innerHTML="{{colmn?.field}}"></span>
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
          <tr tabindex="0" [pSelectableRow]="rowData">
              <td *ngFor="let col of columns; let i = index">
                  <span tabindex="0" >{{rowData[col.field]}}</span>
              </td>
          </tr>
      </ng-template>
    </p-table>
  </div>
</ng-container>
