@media only screen and (min-width: 500px) {
  .componentSize {
    height: 9em;
    width: 30em;
  }
}

.buttonAlign {
  padding-top: 4em;
  text-align: right;
}

.buttonSpace {
  margin-left: 2em;
}
