<ion-view>
	<div class="bar bar-stable bar-subheader">
	  <h2 class="title">{{"SIGN_OUT" | translate}}</h2>
	</div>
	<ion-content class="has-subheader margin-subheader">
		<div class="logout">
			<div class="text-alignment-center">
				<em class="fa fa-sign-out fa-5x" style="color:red"></em>
			</div>
			<h3>{{'LOGOUT_INFO' | translate}}</h3>
		</div>

 	</ion-content>
 	<div class="tabs">
  	    <button class="button button-block button-positive misys-big-button" ng-click="vm.logout()">{{"LOGOUT" | translate}}</button>
  	</div>
 	
</ion-view>