<div class="bar bar-header bar-positive">
	<div class="mobile-header-login-logo">
		<span title="FINASTRA - FINANCIAL SOFTWARE" alt="FINASTRA - FINANCIAL SOFTWARE"></span>
	</div>
</div>
<ion-content padding="true" class="has-header margin-subheader">

    <div class="logout">
    	<div class="text-alignment-center">
			<em class="fa fa-sign-in fa-5x confirmation-icon"></em>
		</div>
		<h3>{{'LOGOUT_RESPONSE' | translate}}</h3>
    </div>

</ion-content>
<div class="tabs">
 	<button class="button button-block button-positive misys-big-button" ui-sref="login">{{'LOGIN' | translate}}</button>
</div>