<ion-content padding="true" class="has-header">
<form name="vm.termsConditionForm" novalidate>
<div>
	<p style="font-weight: bold">INTERNET BANKING SERVICE AGREEMENT</p>
	<br/>
	<p >{{'TERMS_AND_CONDITIONS_1' | translate}}</p>
	<br/>
	<p style="max-width:900px;">{{'TERMS_AND_CONDITIONS_2' | translate}}</p>
	<br/>
	<p style="max-width:900px;">{{'TERMS_AND_CONDITIONS_3' | translate}}</p>
	<br/>
	<p style="max-width:900px;">{{'TERMS_AND_CONDITIONS_4' | translate}}</p>
	<br/>
	<p style="max-width:900px;">{{'TERMS_AND_CONDITIONS_5' | translate}}</p>
	<br/>
	<p style="max-width:900px;">{{'TERMS_AND_CONDITIONS_6' | translate}}</p>
</div>
	<br/>
<div>
	<p style="max-width:900px;">{{'TERMS_AND_CONDITIONS_7' | translate}}</p>
	<br/>
	<p style="max-width:900px;">{{'TERMS_AND_CONDITIONS_8' | translate}}</p>
	<br/>
	<p style="max-width:900px;">{{'TERMS_AND_CONDITIONS_9' | translate}}</p>
</div>
	<br>
	
<div >	
	<div class="row row-full">
		<div class="col col-full terms-block">
			<button class="button button-block button-positive misys-small-button" ng-click="vm.login()" >
		 			{{'ACCEPT' | translate}}
			</button>
		</div>
	</div>
		
	<div class="row row-full">
		<div class="col col-full terms-block">
			<button class="button button-block button-assertive misys-small-button" ng-click="vm.logout()">
		 	 		{{'LOGOUT' | translate}}
			</button>
		</div>
	</div>
</div>
</form>
</ion-content>