@import '../../../../../../../styles/variables.scss';
:host ::ng-deep.form-header {
  font-size: 1.125em;
  margin-top: 1.25em;
  color: $formHeaderColor;
  font-weight: 700;
}

:host ::ng-deep.fileMaxLimits{
  font-size: 0.75em !important;
  margin-top: 0em !important;
  color: $fileMaxLimitColor !important;
  font-weight: 400 !important;
  padding-top: 1em !important;
}
.browseButton{
  color: $secondaryColor !important;
  border-radius: 18px !important;
  padding: 0 16px !important;
  min-width: 64px !important;
  line-height: 36px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  outline: 0 !important;
  border: 0.0625em solid $primaryButtonBackground !important;
  border-color: $primaryButtonBackground  !important;
  display: inline-block !important;
  text-decoration: none !important;
  vertical-align: baseline !important;
  text-align: center !important;
  background-color: $browseButtonBackgroundColor !important;
  margin-left: 0.5em !important;
}

:host ::ng-deep .ui-table .ui-table-thead > tr {
  border-bottom: 1px solid $uiTableBorderBottom !important;
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th {
  padding: 0px 0.857em;
  padding-top: 1.875em;
  padding-bottom: 0.3125em;
  border: 0px solid $uiTableBorderBorder;
  font-weight: bold;
  background-color: transparent;
  color: $uiTableColor;
  line-height: 0.875em;
  text-align: left;
  font-size: 0.75em;
}

:host ::ng-deep .ui-paginator {
  display: none;
}

:host ::ng-deep .ui-table .ui-table-tbody .ui-state-highlight {
  background: $uiTableBackground !important;
}

:host ::ng-deep .ui-table .ui-table-tbody > tr {
  border-bottom: 1px solid $uiTableBorderBottom !important;
}

:host ::ng-deep .ui-table .ui-table-tbody > tr:focus {
  outline: none !important;
}

:host ::ng-deep .ui-table .ui-table-tbody > tr > td {
  background-color:  $uiTableTbodyBackgroundColor;
  border-top: $uiTableTbodyBorderTop;
  border-bottom: $uiTableTbodyBorderBottom;
  border-left: none;
  border-right: none;
  line-height: 1em;
  word-break: break-word;
  padding-top: 1em;
  padding-bottom: 1.1875em;
  text-align: left;
  font-size: 0.875em;
}
tr:hover > td {
  border-bottom: 1px solid $secondaryColor !important ;
  border-top: 1px solid $secondaryColor !important ;
}

tr > td {
  color: black;
}

:host ::ng-deep.DragDropArea{
  width: 22em !important;
  font-size: 14px !important;
  outline: 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
  vertical-align: baseline !important;
  text-align: center !important;
}

:host ::ng-deep .DragDropArea .ui-fileupload-content {
    min-height: 10em;
    border: 2.5px dashed $dragDropAreaBorder;
    border-radius: 1em;
    display: block;
    word-break: break-word;
}

:host ::ng-deep .DragDropArea .ui-fileupload .ui-fileupload-buttonbar {
  display: none;
}

:host ::ng-deep .DragDropArea .ui-fileupload-content .ui-progressbar {
   display: none;
}

:host ::ng-deep .DragDropArea .ui-fileupload-content .pi.pi-cloud-upload {
  color: $secondaryColor;
  font-size: 5em;
}
:host ::ng-deep .dialogStyle .ui-table .ui-table-tbody > tr > td {
  background-color: $uiDialogBackgroundColor;
  border-top: 0em;
  border-bottom: 0.00625em solid $uiDialogBorderBottom;
  border-left: none;
  border-right: none;
  line-height: 1em;
  word-break: break-word;
  padding: 0em 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  text-align: left;
  font-size: 0.875em;
}
:host ::ng-deep.spinnerLeftStyle{
  text-align: right !important;
}

:host ::ng-deep.spinnerRightStyle{
  text-align: left !important;
}
:host ::ng-deep .dialogStyleClass .ui-dialog .ui-dialog-titlebar{
  border: 1px solid  $primaryColor !important;
  background-color:  $primaryColor !important;
}

:host ::ng-deep .dialogStyleClass .ui-dialog .ui-dialog-content{
  padding: 0.5em !important;
}

:host ::ng-deep .dialogStyleClass .ui-dialog .ui-dialog-titlebar .ui-dialog-title{
  color: $uiDialogColor !important;
}

:host ::ng-deep .dialogStyleClass .pi-times:before{
  display: none !important;
}

:host ::ng-deep .input .ui-inputtext:enabled:focus:not(.ui-state-error) {
  border-color: none !important;
  border-bottom: none !important;
}
:host ::ng-deep.invalid-error-text {
  color: $errorMessageColor;
  font-size: 0.75em;
  margin-left: 0em;
}

:host ::ng-deep.fileUploadTable a:focus {
  outline-color: $primaryColor !important;
  outline-width: 0.25em !important;
}

:host ::ng-deep.fileUploadTable em {
  color:$fileuploadTableColor !important;
}
#file-upload-icons-font {
  font-size: 1.5em !important;
}

:host ::ng-deep.noteForAttachments {
  color: $primaryColor;
  font-size: 0.9em;
  text-align: left;
  letter-spacing: 0.02em;
  font-weight: 400;
}

[dir = "rtl"] .noteForAttachments {
  color: $primaryColor;
  font-size: 0.9em;
  text-align: right;
  letter-spacing: 0.02em;
  font-weight: 400;
}