
.radiocontainer.p-grid,
.radiocontainer .p-grid {
  width: 100%;
}

:host ::ng-deep .indented-text-area-field-35 {
  width: 100% !important;
  margin-top: 2em;
  margin: 0em !important;
}

.indented-text-area-field-35 textarea {
  line-height: 1.4em;
  font-size: 1em !important;
  resize: none;
  font-family: Roboto !important;
}

:host ::ng-deep .indented-text-area-field-35-with-scrollbar {
  width: 100% !important;
  margin-top: 2em;
  margin: 0em !important;
}
