<ng-container [formGroup]="form">
  <div class="p-col-12">
    <div
      *ngIf="mode === 'edit'"
      class="ui-float-label  {{ control.params.styleClass }}"
    >
      <p-calendar
        *ngIf="control.params.selectionMode === 'range'"
        [showIcon]="true"
        inputId="{{ control.key }}"
        [monthNavigator]="true"
        [yearNavigator]="true"
        [yearRange]="getYearRange(control.params.yearRange)"
        showButtonBar="false"
        disabledDays="{{ control.params.disabledDays }}"
        [disabled]="control.params.readonly"
        disabledDates="{{ control.params.disabledDates }}"
        showTime="{{ control.params.showTime }}"
        (onBlur)="onCustomEventRaised($event, control.key, control)"
        (click)="onEventRaised($event, control.key)"
        [showOtherMonths]="control.params.showOtherMonths"
        tabindex="0"
        (focus)="onEventRaised($event, control.key)"
        formControlName="{{ control.key }}"
        [required]="control.params.required"
        [maxDate]="control.params.maxDate"
        [selectionMode]="
          control.params.selectionMode ? control.params.selectionMode : 'single'
        "
      ></p-calendar>
      <label
        *ngIf="control.params.selectionMode === 'range'"
        for="{{ control.key }}"
        tabindex="0"
      >
        {{ control.params.label
        }}<a *ngIf="control.params.required"
          ><em class="fa fa-asterisk fa-sm"></em
        ></a>
        <a
          class="infoLabel"
          *ngIf="control.params.infoIcon && !control.params.groupLabel"
        >
          {{ control.params.infolabel | translate }}</a
        >
      </label>
      <a class="infoIcon" *ngIf="control.params.infoIcon">
        <span
          class="material-icons"
          (mouseenter)="op.show($event)"
          (mouseleave)="op.hide()"
          >info</span
        >
        <p-overlayPanel
          #op
          class="previosInfoOLPanel"
          [dismissable]="true"
          appendTo="body"
        >
          <div
            *ngIf="
              control.params.previousValue !== '' &&
                control.params.previousValue !== undefined &&
                control.params.previousValue !== null;
              else previousValueNotentered
            "
          >
            <p class="previous-info">{{ "previousInfo" | translate }}</p>
            {{ control.params.previousValue }}
          </div>
          <ng-template #previousValueNotentered>
            <p class="previous-info">{{ "previousInfo" | translate }}</p>
            {{ "NOT_ENTERED" | translate }}
          </ng-template>
        </p-overlayPanel>
      </a>
      <mat-form-field
        *ngIf="control.params.selectionMode !== 'range'"
        appearance="fill"
        class="input-mat-width"
      >
        <mat-label
          >{{ control.params.label
          }}<a class="infoLabel" *ngIf="control.params.infoIcon">
            {{ control.params.infolabel | translate }}</a
          ></mat-label
        >
        <input role="textbox"
          matInput
          [matDatepicker]="picker"
          formControlName="{{ control.key }}"
          #pickerInput
          [max]="control.params.maxDate"
          maxlength="{{ control.params.maxlength }}"
          [required]="control.params.required"
          [disabled]="control.params.readonly"
          (dateChange)="
            onMatDateEventRaised(
              $event,
              control.key,
              control,
              pickerInput.value
            )
          "
          [placeholder]="control.params.placeholder"
          (inputChange)="
            onMatDateEventRaised(
              $event,
              control.key,
              control,
              pickerInput.value
            )
          "
          (click)="picker.opened = true"
          id="{{ control.key }}"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="viewmode" *ngIf="mode === 'view'">
      <label for="{{ control.key }}" class="form-header" tabindex="0">{{
        control.params.label
      }}</label>
      <div
        class="{{ control.params.styleClass }}"
        *ngIf="mode === 'view'"
        id="{{ control.key }}"
      >
        {{ control.value | date }}
      </div>
    </div>
  </div>
</ng-container>
