## Sample Default layout.
##

<html>
#TurbineHtmlHead()
#TurbineHtmlBodyAttributes()

<table width="100%">
  <tr><td>$navigation.setTemplate("Top.vm")</td></tr>
  <tr><td>$screen_placeholder</td></tr>
  <tr><td>$navigation.setTemplate("Bottom.vm")</td></tr>
</table>
</body>
</html>
