.p-grid {
    margin: 0em;
  }
  .p-col-12 {
    padding: 0em;
  }
  .entirePage {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  @media screen and (max-width: 64em) {
    .left-form {
      width: 100%;
    }
    .no-mr-pd {
      width: 100%;
    }
  }