<div>
  <div class=" pad-all">
    <p-card class="pCardClass">
    <h3 *ngIf="componentTitle" class="title">{{componentTitle  | translate}}</h3>
    <div class="p-grid" *ngIf="generalDetails">
          <div class="p-col-6" *ngFor="let item of generalDetails">
            <div  class="rowStyle ng-star-inserted">
              <span *ngIf= "(item.value !== null && item.value !== undefined && item.value.length !== 0)"  tabindex="0" class="labelStyle">{{item.key | translate}}</span>
              <br >
              <strong>
                <span  tabindex="0" class="preValueStyle valueStyle ng-star-inserted">{{item.value}}</span>
              </strong>
            </div>
          </div>
      </div>
    </p-card>
  </div>
  <div class=" pad-all">
    <p-card class="pCardClass">
        <h3 *ngIf="tableName" class="title"><span tabindex="0" class="additionalClass">{{tableName  | translate}}</span></h3>
        <div class="p-grid">
            <div class="p-col-12">
              <fcc-common-transactions-listdef *ngIf="changed" [inputParams]="inputParams" (headerCheckboxToggle)="onHeaderCheckboxToggle($event)" 
              (refreshTableDataList)="refreshTableData();" (rowUnSelectEventListdef)="getRowUnSelectEvent($event)" (rowSelectEventListdef)="getRowSelectEvent($event)" (filterChipResetEvent) = "getFilterChipResetEvent($event)"></fcc-common-transactions-listdef>
            </div>
        </div>
    </p-card>
  </div>
</div>
