textarea {
    resize: none;
    border-top-width: 0em !important;
    border-left-width: 0em !important;
    border-right-width: 0em !important;
    border-bottom-width: 0em !important;
    text-align: right;
    color: grey;
    font-family: "Courier New";
    font-size: 1em;
    background-color: #f1f1f1;
  }
.label{
  vertical-align: top;
}

  