:host ::ng-deep .inputStyle {
  padding-right: 0em;
}

:host ::ng-deep .fontweight {
  font-weight: bold !important;
  color: #777777 !important;
  font-size: 0.813em !important;
}

:host ::ng-deep .paddingb {
  padding-bottom: 0em !important;
}

:host ::ng-deep .fontsize {
  font-weight: bold !important;
  font-size: 0.813em !important;
}

:host ::ng-deep .contentfont {
  font-size: 0.813em !important;
  color: black !important;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  word-break: break-word;
  text-align: justify;
  word-spacing: 0.25em;
  line-height: 150%;
}

:host ::ng-deep .margin-all-side {
  margin: 15px 20px 0px 0px;
}

:host ::ng-deep .p-col-12{
padding-top: 0em !important;
}

:host ::ng-deep .entirePage {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep .left-form {
    width: 100%;
  }
  :host ::ng-deep .no-mr-pd {
   width: 100%;
  }
}

:host ::ng-deep .formheader {
  color: #414141 !important;
}

:host ::ng-deep .fheader {
  margin-top: 0em !important;
}

:host ::ng-deep .bkcolor{
  font-style: normal;
  font-family: sans-serif;
  font-size: 0.813em !important;
}
:host ::ng-deep .buttonDisplay{
  display: flex;
}

:host ::ng-deep .logo-grid {
  padding-top: 0em;
}

:host ::ng-deep .logo-img img {
  max-height: 4em;
  max-width: 9em;
}

:host ::ng-deep .logo-img a:focus{
  outline: 0.125em solid #694ed6 !important;
}

:host ::ng-deep .indented-text-area-field-35 {
  width: 100% !important;
  margin-top: 2em;
  margin: 0em !important;
}

:host ::ng-deep .indented-text-area-field-35-with-scrollbar {
  width: 100% !important;
  margin-top: 2em;
  margin: 0em !important;
}

:host ::ng-deep .leftDirect {
  float : left;
}

:host ::ng-deep .rightDirect {
  float: right;
}
:host ::ng-deep  .ui-chkbox-label {
  font-size: small !important;
}

:host ::ng-deep .side_bar{
    padding-right: .3em;
    margin-left: -0.75em;
    position: sticky;
    top: 0;
    height: 35vh;
    overflow-y: scroll;
}
:host ::ng-deep .side_bar::-webkit-scrollbar {
        width: 0.5em;
        height: 0.0625em;
    }

:host ::ng-deep .side_bar::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0.0625em grey;
        border-radius: 0.3125em;
    }

:host ::ng-deep .side_bar::-webkit-scrollbar-thumb {
        background: #d3d3d3  !important;
        border-radius: 0.3125em;
    }

:host ::ng-deep .side_bar::-webkit-scrollbar-thumb:hover {
        background: #009eb3;
    }

:host ::ng-deep .submitStyle {
    width: auto !important;
}

// [dir=rtl] :host ::ng-deep .fcc-input-checkbox .ui-fluid label {
//   margin-right: -0.5em;
// }

:host ::ng-deep [lang='en'] .p-grid{
  direction: ltr;
}

:host ::ng-deep [lang='us'] .p-grid{
  direction: ltr;
}


:host ::ng-deep [lang='ar'] .p-grid{
  direction: rtl;
}
