## Sample.
<div class="footer inside">
 <div id="links">User Agreement | Disclosure | Privacy Policy | Other Notices</div>
 <div id="copyrights">&copy; 2010 The Misys Bank. All rights reserved.</div>
</div>
