## Sample.

#set ($BottomLogoFile = $config.getConfiguration().getString("site.footer.logo"))
#set ($contextPath = $gtpapp.getContextPath())
<div id="footer" class="footer" style="text-align:center;padding-top:10px;padding-bottom:20px;">
	#* <img src="$contextPath$BottomLogoFile" alt="" width="1" height="1"> *#
	
	<p style="color:#A0A0A0;font-size:0.8em;font-weight:bold;">Copyright &copy; 2011, Misys plc. All rights reserved</p>
</div>