
    <div id =  "last_name_row" class = "{{commonService.getUserLanguage() === 'ar' ? 'field-right' : 'field'}}">
      <label for =  "last_name" id =  "last_name_label">{{'LAST_NAME' | translate}}&nbsp;</label>
      <input id = "last_name" type = "text" [(ngModel)]="lastName" class="content" pInputText/>
    </div>
    <div id =  "first_name_row" class = "{{commonService.getUserLanguage() === 'ar' ? 'field-right' : 'field'}}">
      <label for =  "first_name" id =  "first_name_label">{{'FIRST_NAME' | translate}}&nbsp;</label>
      <input id = "first_name" type = "text" [(ngModel)]="firstName"  class="content" pInputText/>
    </div>
    <div id =  "login_id_row" class = "{{commonService.getUserLanguage() === 'ar' ? 'field-right' : 'field'}}">
      <label for =  "login_id" id =  "login_id_label">{{'LOGIN_ID' | translate}}&nbsp;</label>
      <input id = "login_id" type = "text" [(ngModel)]="loginId" class="content" pInputText/>
    </div>
    <div id =  "search_button_row" class="{{commonService.getUserLanguage() === 'ar' ? 'field-right' : 'field'}}">
      <label for =  "search_button" >&nbsp;</label>
      <button pButton type="button" label="{{ 'USER_ACTION_SEARCH' | translate}}"  (click)="getFilteredListOfUsers()" class="primary-button"></button>
    </div>
<p-table #data [value]="filteredListOfUsers" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
        <tr>
            <th id="name">{{ "NAME" | translate }} </th>
            <th id="login">{{ "LOGIN" | translate }} </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
           <td class="{{commonService.getUserLanguage() === 'ar' ? 'word-wrap-right' : 'word-wrap'}}">
              <a (click)= "ref.close(user)">{{user.NAME}}</a></td>
            <td class="{{commonService.getUserLanguage() === 'ar' ? 'word-wrap-right' : 'word-wrap'}}">{{user.LOGINID}}</td>
        </tr>
    </ng-template>
</p-table>
