
@import '../../../../../../styles/variables.scss';

::ng-deep .hideDropdown {
    .ui-dropdown {
        .ui-dropdown-label-container {
            width: 100%;
        }
        .ui-dropdown-trigger {
            border-bottom: 1px solid $VIOLET-F100;
            border-radius: 0 !important;
            .ui-dropdown-trigger-icon {
                visibility: hidden;
            }
        }
    }
}

.asterisk {
    color: $uiInputTextDirtyInvalid !important;
    font-size: 1em !important;
    top: 0 !important;
    position: absolute !important;
    font-weight: 900 !important;
}

.focusStyle {
    border-bottom: .05em solid #694ed6 !important;
  }
.shortDesc {
    margin-top:-1em !important;
    margin-bottom:5px;
    span {
        font: 400 14px/24px Roboto, roboto, "Helvetica Neue", sans-serif;
        letter-spacing: normal;
        padding-left:5px;
        color:$CHARCOAL-F75;
    }
}