<ng-container [formGroup]="form">
  <div>
    <button role="button" 
      pButton
      type="button"
      class="{{ control.params.styleClass }}"
      id="{{ control.key }}"
      label="{{ control.params.label }}"
      icon="{{ control.params.icon }}"
      tabindex="0"
      (click)="onEventRaised($event, control.key)"
      (blur)="onEventRaised($event, control.key)"
      (focus)="onEventRaised($event, control.key)"
      [disabled]="control.params.btndisable"
    ></button>
  </div>
</ng-container>
