@import './../../../../../../styles/variables.scss';

:host ::ng-deep .form-header {
  color: #694ed6;
  font-weight: 500;
  line-height: 1.25em;
  padding: 0;
}

:host ::ng-deep .fileMaxLimits{
  font-size: 0.75em !important;
  margin-top: 0em !important;
  color: $BLACK !important;
  font-weight: 400 !important;
  padding-top: 1em !important;
}

:host ::ng-deep .browseButton{
  color: $FUCHSIA-F100 !important;
  border-radius: 1.125em !important;
  padding: 0 1em !important;
  min-width: 4em !important;
  line-height: 2.25em !important;
  font-size: 0.875em !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  outline: 0 !important;
  border: 0.0625em solid $FUCHSIA-F100 !important;
  border-color: $FUCHSIA-F100 !important;
  display: inline-block !important;
  text-decoration: none !important;
  vertical-align: baseline !important;
  text-align: center !important;
  background-color: $WHITE !important;
  margin-left: 0.5em !important;
}

:host ::ng-deep .ui-table .ui-table-thead > tr {
  border-bottom: 0.0625em solid $GREY-15 !important;
}

:host ::ng-deep .ui-table .ui-table-thead > tr > th {
  padding: 0px 0.857em;
  padding-top: 1.875em;
  padding-bottom: 0.3125em;
  border: 0px solid $GREY-07;
  font-weight: bold;
  background-color: transparent;
  color: $CHARCOAL-F100;
  line-height: 0.875em;
  text-align: left;
  font-size: 0.75em;
}

:host ::ng-deep .ui-paginator {
  display: none;
}

:host ::ng-deep .ui-table .ui-table-tbody .ui-state-highlight {
  background: $GRAY-HEX-88 !important;
}

:host ::ng-deep .ui-table .ui-table-tbody > tr {
  border-bottom: 0.0625em solid $GREY-15 !important;
}

:host ::ng-deep .ui-table .ui-table-tbody > tr:focus {
  outline: none !important;
}

:host ::ng-deep .ui-table .ui-table-tbody > tr > td {
  background-color: $WHITE;
  border-top: 0.00625em solid $GREY-07;
  border-bottom: 0.00625em solid $GREY-07;
  border-left: none;
  border-right: none;
  line-height: 1em;
  word-break: break-word;
  padding-top: 1em;
  padding-bottom: 1.1875em;
  text-align: left;
  font-size: 0.875em;
}

:host ::ng-deep tr:hover > td {
  border-bottom: 0.0625em solid $FUCHSIA-F100 !important ;
  border-top: 0.0625em solid $FUCHSIA-F100 !important ;
}

:host ::ng-deep tr > td {
  color: $BLACK;
}

:host ::ng-deep .DragDropArea{
  width: 22em !important;
  font-size: 0.875em !important;
  outline: 0 !important;
  display: inline-block !important;
  text-decoration: none !important;
  vertical-align: baseline !important;
  text-align: center !important;
}

:host ::ng-deep .DragDropArea .ui-fileupload-content {
    min-height: 10em;
    border: 0.15625em dashed $GREY-07;
    border-radius: 1em;
    display: block;
    word-break: break-word;
}

:host ::ng-deep .DragDropArea .ui-fileupload .ui-fileupload-buttonbar {
  display: none;
}

:host ::ng-deep .DragDropArea .ui-fileupload-content .ui-progressbar {
   display: none;
}

:host ::ng-deep .DragDropArea .ui-fileupload-content .pi.pi-cloud-upload {
  color: $FUCHSIA-F100;
  font-size: 5em;
}
:host ::ng-deep .dialogStyle .ui-table .ui-table-tbody > tr > td {
  background-color: $WHITE;
  border-top: 0em;
  border-bottom: 0.00625em solid $GREY-07;
  border-left: none;
  border-right: none;
  line-height: 1em;
  word-break: break-word;
  padding: 0em 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  text-align: left;
  font-size: 0.875em;
}
:host ::ng-deep .spinnerLeftStyle{
  text-align: right !important;
}

:host ::ng-deep .spinnerRightStyle{
  text-align: left !important;
}
:host ::ng-deep .dialogStyleClass .ui-dialog .ui-dialog-titlebar{
  border: 0.0625em solid  $VIOLET-F100 !important;
  background-color:  $VIOLET-F100 !important;
}

:host ::ng-deep .dialogStyleClass .ui-dialog .ui-dialog-content{
  padding: 0.5em !important;
}

:host ::ng-deep .dialogStyleClass .ui-dialog .ui-dialog-titlebar .ui-dialog-title{
  color: $WHITE !important;
}

:host ::ng-deep .dialogStyleClass .pi-times:before{
  display: none !important;
}

:host ::ng-deep .input .ui-inputtext:enabled:focus:not(.ui-state-error) {
  border-color: none !important;
  border-bottom: none !important;
}
:host ::ng-deep .invalid-error-text {
  color: $RED-01;
  font-size: 0.75em;
  margin-left: 0em;
}

:host ::ng-deep .fileUploadTable a:focus {
  outline-color: $VIOLET-F100 !important;
  outline-width: 0.25em !important;
}

:host ::ng-deep .fileUploadTable em {
  color: $GREY-08 !important;
}

:host ::ng-deep .messageStyle {
  width: 63% !important;
}

:host ::ng-deep .textarea.characterCountDivfield .characterCountValueField {
  padding-right: 0em !important;
}

:host ::ng-deep [dir="rtl"] .textarea.characterCountDivfield .characterCountValueField {
  text-align: left;
  padding-left: 0em !important;
}
