@import './../../../../../../styles/variables.scss';
.p-col-1, .p-col-2, .p-col-3, .p-col-4, .p-col-5, .p-col-6, .p-col-7, .p-col-8, .p-col-9, .p-col-10, .p-col-11, .p-col-12 {
  padding: 0;
  flex: 0 0 auto;
}

.download:focus {
  outline: black auto 1px !important;
}

.viewButton {
  margin-top: 1em !important;
  float: right !important;
}

:host ::ng-deep .mat-content {
  align-items: center;
}

.threeDots{
  font-size: 1.7em;
  color: $CHARCOAL-F75;
  border-radius: 50%;
  position: relative;
  opacity: 0.75;
  top: -0.4em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.threeDots:hover{
  background-color: rgba(158, 158, 158, 0.2);
  cursor: pointer;
  color: $primaryColor !important;
}

#threeDots{
  border: none;
  background: none;
}

#threeDots:focus{
  background-color: rgba(158, 158, 158, 0.2)!important;
  cursor: pointer;
  border: .125em solid $VIOLET-F100 !important;
  border-radius: 50%;
}

tr:hover > td .ellipisis, tr:focus-within > td .ellipisis{
  cursor: pointer;
  visibility:  visible;
}
.ellipisis {
  color: $VIOLET-02;
  visibility: hidden;
}
.overdraw {
  visibility: visible;
}

:host ::ng-deep .ui-paginator {
  background-color: #f4f4f4;
  border: 0.065em solid #c8c8c8;
  padding: 0;
  background-color: rgba(217, 211, 245, 0.31);
  border: 0.065em solid rgba(217, 211, 245, 0.31);
}

:host ::ng-deep .ui-paginator .ui-paginator-page {
  visibility: hidden !important;
}

:host ::ng-deep .ui-paginator-first{
  visibility: hidden  !important;
}

:host ::ng-deep .ui-paginator-prev{
  visibility: hidden  !important;
}

:host ::ng-deep .ui-paginator-next{
  visibility: hidden  !important;
}

:host ::ng-deep .ui-paginator-last{
  visibility: hidden  !important;
}

:host ::ng-deep .ui-paginator >  p-dropdown > .ui-dropdown{
  visibility: hidden  !important;
}
.fcc-empty-icon-block {
  margin: 1em;
}

.fcc-view-file-icon {
  width: 1.2em;
  // margin-right: 0.6em;
}

.fcc-view-file-div {
  width: 50%;
  float: left;
  margin-top: 0.4em;
}
.actionData {
  outline: 0.0625em solid $GREY-07 !important;
  position: sticky !important;
  right: 0 !important;
  text-align: center !important;
}

[dir="rtl"].actionData {
  outline: 0.0625em solid $GREY-07 !important;
  position: sticky !important;
  left: 0 !important;
  text-align: center !important;
}

.actionHeader {
  text-align: center !important;
}

.account-table{
  float : left;
  width: 100%;
}

// Header alightment Fix for QA
.subheader-title-h4{
  font-weight: normal;
  margin-bottom: 1.35em !important;
}