
:host ::ng-deep .primaryButton {
  margin-left:-1.3em;
}
:host ::ng-deep .form-header {
  outline: none;
  color: #6f6f6f;
}
:host ::ng-deep .form-render-wrapper {
  padding: 10em;
  width: 100%;
}
:host ::ng-deep .responseMessage {
  text-align: center;
  margin-top: -3em;
}
:host ::ng-deep .responseMessageButton {
  text-align: center;
}
:host ::ng-deep .pi-check:before {
  font-size: 1.2em;
  color: white;
  background: #008000b0;
  border-radius: 50%;
}
:host ::ng-deep .pi-times:before {
  font-size: 1.2em;
  color: white;
  background: rgb(145, 3, 3);
  border-radius: 50%;
}

:host ::ng-deep .responseMessageHeader {
  font-weight: bold;
  color: black;
  font-size: 1.5em;
  text-align: center;
}

:host ::ng-deep .logo-img img {
  max-height: 4em;
  max-width: 9em;
  margin-left: -1.4em;
}

:host ::ng-deep .logo-img a:focus{
  outline: 0.125em solid #694ed6 !important;
}

:host ::ng-deep .logo-grid {
  padding-top: 0em;
}

:host ::ng-deep .paddingb {
  padding-bottom: 0em !important;
  text-align: center;
}
