<div class="inquiryDiv">
  <p-panel id="HistoryAttachments" [toggleable]="true"
    header="{{ 'ATTACHMENT_LIST_HEADER' | translate}}">
    <p-table [value]="attachmentsList" sortMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th id = "attachmenttype" class="tablecol-width-20" [pSortableColumn]="'fileName'">{{ "ATTACHMENT_TYPE" | translate}}</th>
          <th id = "filename" class="tablecol-width-35" [pSortableColumn]="'fileName'">{{ "FILE_NAME" | translate}}
              <p-sortIcon [field]="'fileName'"></p-sortIcon></th>
          <th id = "keyfiletitle" class="tablecol-width-25" [pSortableColumn]="'title'">{{ "KEY_FILE_TITLE" | translate}}
              <p-sortIcon [field]="'title'"></p-sortIcon></th>
          <th id = "status" class="tablecol-width-20" [pSortableColumn]="'status'">{{ "STATUS" | translate}}
              <p-sortIcon [field]="'status'"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rec>
        <tr class="alignment-center">
          <td [ngSwitch]="true">
            <div *ngSwitchCase="getFileExt(rec.fileName) === 'doc' || getFileExt(rec.fileName) === 'docx'"><img src="{{imagePath}}file_doc.gif" class="inquiry-image-height cursor" alt="download"></div>
            <div *ngSwitchCase="getFileExt(rec.fileName) === 'pdf'"><img src="{{imagePath}}file_pdf.gif" class="inquiry-image-height cursor" alt="download"></div>
            <div *ngSwitchCase="getFileExt(rec.fileName) === 'gif'"><img src="{{imagePath}}file_gif.gif" class="inquiry-image-height cursor" alt="download"></div>
            <div *ngSwitchCase="getFileExt(rec.fileName) === 'txt'"><img src="{{imagePath}}file_txt.gif" class="inquiry-image-height cursor" alt="download"></div>
            <div *ngSwitchCase="getFileExt(rec.fileName) === 'csv'"><img src="{{imagePath}}file_csv.gif" class="inquiry-image-height cursor" alt="download"></div>
            <div *ngSwitchCase="getFileExt(rec.fileName) === 'xls'"><img src="{{imagePath}}file_xls.gif" class="inquiry-image-height cursor" alt="download"></div>
            <div *ngSwitchCase="getFileExt(rec.fileName) === 'xlsx'"><img src="{{imagePath}}file_xlsx.gif" class="inquiry-image-height cursor" alt="download"></div>
            <div *ngSwitchCase="getFileExt(rec.fileName) === 'png' || getFileExt(rec.fileName) === 'PNG' "><img src="{{imagePath}}file_png.gif" class="inquiry-image-height cursor" alt="download"></div>
            <div *ngSwitchCase="getFileExt(rec.fileName) === 'jpg' || getFileExt(rec.fileName) === 'jpeg' "><img src="{{imagePath}}file_jpeg.gif" class="inquiry-image-height cursor" alt="download"></div>
            <div *ngSwitchCase="getFileExt(rec.fileName) === 'zip'"><img src="{{imagePath}}file_zip.gif" class="inquiry-image-height cursor" alt="download"></div>
            <div *ngSwitchCase="getFileExt(rec.fileName) === 'rtf'"><img src="{{imagePath}}file_rtf.gif" class="inquiry-image-height cursor" alt="download"></div>
            <div *ngSwitchDefault><img src="{{imagePath}}file_ext.gif" class="inquiry-image-height cursor" alt="download"></div>
          </td>
          <td class="word-break-all"><a href="javascript:void(0)" (click)="downloadAttachmentService.download(rec.attId,rec.fileName)" title="{{ 'TITLE_ATTACHMENT_DOWNLOAD' | translate}}">{{rec.fileName}}</a></td>
          <td class="word-break-all"><a href="javascript:void(0)" (click)="downloadAttachmentService.download(rec.attId,rec.fileName)" title="{{ 'TITLE_ATTACHMENT_DOWNLOAD' | translate}}">{{rec.title}}</a></td>
          <td [ngSwitch]="true">
            <div *ngSwitchCase="rec.status === '04'">{{ "ACKNOWLEDGE" | translate}}</div>
            <div *ngSwitchCase="rec.status === '03'">{{ "SUBMITTED" | translate}}</div>
            <div *ngSwitchCase="rec.status === '05' || rec.status === '01' ">{{ "INCOMPLETE" | translate}}</div>
            <div *ngSwitchDefault>{{rec.status}}</div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>
