<div *ngIf="commonDataService.displayLUSection() && commonDataService.getPreviewOption() !== 'SUMMARY'">
<p-panel id="cuGeneralDetailsPanel" header="{{ 'HEADER_COUNTER_UNDERTAKING_GENERAL_DETAILS' | translate }}" [toggleable]="true" [collapsed] ="!this.collapsible">
  <div [formGroup] = "cuGeneraldetailsSection">
    <fcc-iu-common-general-details *ngIf="bgRecord" (resetRenewalDetails)="resetRenewalSection($event)" (cuConfInstructions)="setConfInstValue($event)" [bgRecord]="bgRecord" [sectionForm]="cuGeneraldetailsSection" [undertakingType]="'cu'" (expDate)="setExpDate($event)" (expiryDateExtension)="setExpiryDateForExtension($event)"></fcc-iu-common-general-details>
  </div>
</p-panel>
</div>
