<ng-container>
  <div class="p-lg-12" *ngIf="!hideShowCard" [@enterAnimation]="hideShowCard">
    <p-card class="{{classCheck}}">
      <p-header [ngClass]="(checkCustomise == true) ? 'showWidgetIcons':'hideWidgetIcons'">
        <em class="pi pi-trash" role="button" aria-label="Delete" title="Delete" (click)="deleteCards()" (keyup.enter)="deleteCards()" tabindex="0"></em>
      </p-header>
      <h1 class="headerTitle">
        {{ header | translate }}
      </h1>
      <div [ngClass]="(checkCustomise == true) ? 'pointerEnable':'pointerDisable'">
        <ng-continer *ngIf="displayTabs === false; else tabbedMenu">
        <fcc-common-transactions-listdef [inputParams] = "inputParams" (rowSelectEventListdef)="onRowSelect($event)" (showViewAllListingPage)="onClickViewAll()">
        </fcc-common-transactions-listdef>
        </ng-continer>
        <ng-template #tabbedMenu>
          <div class="p-col-12 widget-padding widget-body" *ngIf="tabsList.tabs && tabsList.tabs.length">
            <div class="p-col-12">
              <app-tabs-component class="dynamicCompStyle"
              (showViewAllListingPage)="onClickViewAll()" [data] = "tabsList" >
              </app-tabs-component>
            </div>
          </div>
        </ng-template>

        <div *ngIf="widgetConfig != undefined && viewAllTnxPermission" >
          <p class="view-all-links pointer-class focus">
            <a href="#" [routerLink]="" (click)="onClickViewAllTransactions()" tabindex= "{{(checkCustomise == true) ? '-1' : '0' }}" >
              {{ 'viewAllTransactions' | translate }}
            </a>
          </p>
        </div>
      </div>
      <div *ngIf="nudgesRequired">
      <app-nudges [ngClass]="(checkCustomise == true) ? 'pointerEnable':'pointerDisable'" [nudges] = "nudges">
      </app-nudges>
      </div>
    </p-card>
  </div>
</ng-container>

