/**
 Styles for the Help interface
**/
.ceylan #onlinehelp-loading-message{
    position:absolute;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    z-index:999;
    background-color:#fff;
}

.ceylan #onlinehelp-loading-message p {
     font-weight:bold;
     font-style:italic;
     margin-left:5px;
     font-size:1.4em;     
}

.ceylan #onlinehelp_popup label, .ceylan #onlinehelp_popup .label {
	display:inline-block;
	line-height:1.5em;
	text-align:right;
	width:200px;
}

.ceylan #helpSearchForm .dijitTextBox{
	width:30em;	
}

.ceylan #onlinehelp_popup .toplevel-header{
	background-color:#F2F2F2;
	margin: 5px 0 0 0;
	padding:1em 0 0.5em;
	border: 1px solid #D0D0D0;	
}

.ceylan #standardSearchContainer{
	display:block;
	background-color:#F2F2F2;
	border:1px solid #999999;
	padding:8px;
	margin-top:4px;
}

.ceylan #advancedSearchContainer{
	display:none;
}

.ceylan #advancedSearchInputContainer {
	background-color:#F2F2F2;
	border:1px solid #999999;
	padding:8px;
	margin-top:4px;
}

.ceylan .dijitTabContainerTop-dijitContentPane, .ceylan .dijitTabContainerLeft-dijitContentPane, .ceylan .dijitTabContainerBottom-dijitContentPane, .ceylan .dijitTabContainerRight-dijitContentPane, .ceylan .dijitAccordionContainer-dijitContentPane{
	background-color: #f2f2f2;
}

.ceylan #onlineHelpPortlet{
	width: 100%;
	height:620px;
	margin-top:8px;
}

.ceylan #onlineHelpPortlet #onlineHelpMenu{
	width: 400px;
}

.ceylan #onlineHelpPortlet #onlineHelpContent ul{
    padding-left:10px;
}

.ceylan #onlineHelpPortlet #onlineHelpContent ul li{
    list-style-type:circle;
}

.ceylan .onlinehelp .float-right {
	float: right;
}

.ceylan #searchsummary {
	background-color: #F0F0F0;
	border-top: 1px solid #0079A7;
	padding: 0.1em;
	clear: left;
	margin-top:8px;
}

.ceylan #searchsummary .emphasize {
	font-weight: bold;
}

.ceylan #onlineHelpNav{
	margin-bottom:5px;
}

.ceylan #searchresults li {
	padding: 0.5em;
}

.ceylan .section-nav-separator {
	font-size: 1.2em;
	font-weight: bold;
}

.ceylan #onlinehelp {
	font-size: 1.2em;
	font-weight: bold;
}

.ceylan #onlinehelp_popup .field .dijitButton .dijitButtonNode{
	background-color:transparent;
	border-width:1px ;
}