<div class="dijitDialog" role="dialog" aria-labelledby="${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
	<h2 style="display: inline-block;" dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title" tabIndex="-1"></h2>
	<span dojoAttachPoint="closeButtonNode" id = "${id}_close" class="dijitDialogCloseIcon" dojoAttachEvent="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabIndex="0">
		<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
	</span>
	</div>
		<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent"></div>
</div>
