<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive" align-title='center' dir="ltr">
            <!-- <ion-nav-title>
                <div class="title-image" />
            </ion-nav-title> -->
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!-- <ion-nav-view>
			  <ion-view>
				  
			    <ion-content>
			      Some super content here!
			    </ion-content>
			  </ion-view>
		</ion-nav-view> -->
        <div ui-view="" name="mainContent"></div>
        <!-- <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view> -->
    </ion-side-menu-content>

    <ion-side-menu side="left">
	        <header class="bar bar-header bar-positive bar-menu">
	        	<ion-list>
	        		<ion-item class="item-menu" ng-repeat= "item in loginId">
	        		<div ng-if="item.company">
	            		<h4 class="text-color-white">{{item.company}}</h4>
	            	</div>
	            	<div ng-if="item.username">
	            		<h4 class="text-color-white">{{item.username}}</h4>
	            	</div>
	            	</ion-item>
	            </ion-list>	
	        </header>
 		<ion-content class="has-header">
            <ion-list>
            	
            	<ion-item nav-clear menu-toggle ui-sref="app.home">
                    <em class='ion-ios-home'></em>&nbsp;&nbsp;{{"HOME" | translate}}
                </ion-item>
                <ion-item nav-clear menu-toggle ui-sref="app.pendingList">
                    <em class="ion-alert-circled"></em>&nbsp;&nbsp; {{"PENDING" | translate}} &nbsp;&nbsp; <strong class="button button-small button-assertive misys-menu-small-button"><em>{{count}}</em></strong>
                </ion-item>
                <ion-item nav-clear menu-toggle ui-sref={{menu.url}} ng-repeat='menu in menus'>
                    <em ng-class="menu.icon"></em>&nbsp;&nbsp; {{ menu.label | translate}}
                </ion-item>
                <ion-item nav-clear menu-toggle href="{{desktopRedirectURL}}" target="_self" ng-if="desktopRedirectURL && desktopRedirectURL.length > 0">
                    <em class='ion-android-desktop'></em>&nbsp;&nbsp;{{"DESKTOP_MODE" | translate}}
                </ion-item>
                <ion-item nav-clear menu-toggle ui-sref="app.logout">
                    <em class="ion-power"></em>&nbsp;&nbsp;{{"SIGN_OUT" | translate}}
                </ion-item>
            </ion-list>
    </ion-side-menu>

</ion-side-menus>