:host ::ng-deep .billAmountValueTitle {
    color: #4a4a4a;
    margin-top:  0.1em;
    margin-left: -9em;
}

:host ::ng-deep .indented-text-area-field-35 {
    width: 100% !important;
    margin: 0em !important;
    margin-top: 2em;
  }

:host ::ng-deep .indented-text-area-field-35 textarea {
    line-height: 1.4em;
    font-size: 1em !important;
    resize: none;
    font-family: Roboto !important;
  }

  :host ::ng-deep .indented-text-area-field-35-with-scrollbar {
    width: 100% !important;
    margin: 0em !important;
    margin-top: 2em;
  }
  :host ::ng-deep .chargeAmt .ui-message.ui-widget.ui-corner-all.ui-message-error {
    margin-top: -0.5em !important;
  }

  :host ::ng-deep .ui-float-label .ui-widget {
    min-width: 100%;
    resize: none;
  }

:host ::ng-deep .warningStyle {
    font-style: italic;
    color:grey;
  }