@import './../../../../styles/variables.scss';

.top-wrapper{
    border-radius: 0.1875em;
    background-color: $VIOLET-F100 !important;
    box-shadow: 0 0.125em 0.5em 0 rgba(0,0,0,0.21);
    height: 5em;
}

.viewHeaderTitle {
    color: $WHITE !important;
    padding: 1em !important;
    font-size: 1.7em !important;
    font-weight: 400 !important;

}