<div class="p-lg-12" *ngIf="!hideShowCard" [@enterAnimation] >
  <p-card *ngIf="iframeWidgetUrl">
      <p-header [ngClass]="(checkCustomise == true) ? 'showWidgetIcons':'hideWidgetIcons'">
        <em tabindex="0" (keyup.enter)="deleteCards()"  class="pi pi-trash" role="button" aria-label="Delete" title="Delete" (click)="deleteCards()"></em>
      </p-header>
      <iframe [src]="iframeWidgetUrl" title="widgetInIframe" sandbox="allow-same-origin allow-scripts allow-popups allow-forms" referrerPolicy="origin"></iframe>
  </p-card>
 </div>