<div class="p-lg-12" *ngIf="!hideShowCard" [@enterAnimation]="hideShowCard">
  <p-card class="{{classCheck}}">
    <p-header [ngClass]="(checkCustomise == true) ? 'showWidgetIcons':'hideWidgetIcons'">
      <em tabindex="0" (keyup.enter)="deleteCards()"  class="pi pi-trash" role="button" aria-label="Delete" title="Delete" (click)="deleteCards()"></em>
    </p-header>
    <h1 class="headerTitle">
      {{ 'actionRequired' | translate }}
    </h1>
    <fcc-common-transactions-listdef [inputParams]="inputParams" (rowSelectEventListdef)="getDataOnRowClick($event)"></fcc-common-transactions-listdef>
  </p-card>
</div>
