<ng-container [formGroup]="form">
  <div class="p-col-12">
    <div
      *ngIf="mode === 'edit'"
      class="ui-float-label {{ control.params.styleClass }}"
    >
      <!--<textarea  pInputTextarea rows="{{control.params.rows}}" cols="{{control.params.cols}}" fccCommonTextArea [controlName]="form.get(control.key)" rows="{{control.params.rows}}" cols="{{control.params.cols}}"
     class="fcc-ui-inputtextarea fcc-textarea-width" id={{control.key}} [disabled]="control.params.readonly"
       (click)="onEventRaised($event,control.key)"  (blur)="onEventRaised($event,control.key)" tabindex="0"
       (change)="onCustomEventRaised($event,control.key,control)"
        (focus)="onEventRaised($event,control.key)" formControlName={{control.key}} [required]="control.params.required"></textarea>
      {{ control.params.label }}<a *ngIf = "control.params.required"><em class='fa fa-asterisk fa-sm'></em></a>
      <a class = "infoLabel" *ngIf = "control.params.infoIcon"> {{control.params.infolabel | translate}}</a>
    </label> -->
      <a class="infoIcon" *ngIf="control.params.infoIcon">
        <span
          class="material-icons"
          (mouseenter)="op.show($event)"
          (mouseleave)="op.hide()"
          >info</span
        >
        <p-overlayPanel
          #op
          class="previosInfoOLPanel"
          [dismissable]="true"
          appendTo="body"
        >
          <div
            *ngIf="
              control.params.previousValue !== '' &&
                control.params.previousValue !== undefined &&
                control.params.previousValue !== null;
              else previousValueNotentered
            "
          >
            <p class="previous-info">{{ "previousInfo" | translate }}</p>
            {{ control.params.previousValue }}
          </div>
          <ng-template #previousValueNotentered>
            <p class="previous-info">{{ "previousInfo" | translate }}</p>
            {{ "NOT_ENTERED" | translate }}
          </ng-template>
        </p-overlayPanel>
      </a>
      <mat-form-field
        floatLabel="false"
        appearance="fill"
        class="input-mat-width"
      >
        <mat-label tabindex="-1">{{ control.params.label }}</mat-label>
        <textarea
          matInput
          rows="{{ control.params.rows }}"
          cols="{{ control.params.cols }}"
          fccCommonTextArea
          [controlName]="form.get(control.key)"
          cols="{{ control.params.cols }}"
          rows="{{ control.params.rows }}"
          class="fcc-ui-inputtextarea fcc-textarea-width"
          formControlName="{{ control.key }}"
          (click)="onEventRaised($event, control.key)"
          (blur)="onEventRaised($event, control.key)"
          (focus)="onEventRaised($event, control.key)"
          (change)="onCustomEventRaised($event, control.key, control)"
          maxlength="{{ control.params.maxlength }}"
          [required]="control.params.required"
          [disabled]="control.params.readonly"
          id="{{ control.key }}"
          tabindex="0"
        ></textarea>
      </mat-form-field>
      <div *ngIf="control.params.directive">
        <fcc-common-narrative-character-count
          [enteredCharCount]="
            form.get(control.key).value != ''
              ? form.get(control.key).value.length
              : 0
          "
          [allowedCharCount]="control.params.allowedCharCount"
          [fieldSize]="control.params.fieldSize"
        >
        </fcc-common-narrative-character-count>
      </div>
    </div>
    <div class="viewmode" *ngIf="mode === 'view'">
      <label for="{{ control.key }}" class="form-header" tabindex="0">{{
        control.params.label
      }}</label>
      <div
        class="{{ control.params.styleClass }}"
        *ngIf="mode === 'view'"
        id="{{ control.key }}"
      >
        {{ control.value }}
      </div>
    </div>
  </div>
</ng-container>
