@import './../../../initiation/component/si-narrative-details/si-narrative-details.component.scss';
:host ::ng-deep .indented-text-area-field-35 {
    margin: 0em !important;
    width: 22.5rem !important;
    word-break: break-all;
}
@media screen and  (max-width: 834px) and (min-width: 768px) {
    :host ::ng-deep .periodOfPresentation {
      width: auto !important;
     }
    }