/**Common Css Rules**/
:root {
  --main-bg-color:  #b140ab;
  --main-text-color:#fff;
  --main-font-family:Montserrat;
  --main-font-size:14px;
  --sec-bg-color:#694ed6;
}

input,button{
	border-radius:5px !important;
	color:var(--main-text-color) !important;
	font-weight:bold;
}
body {
	color:var(--main-text-color)!important;
	font-family:var(--main-font-family)!important;
	font-size:var(--main-font-size)!important;
}
#layout {
	background:none;
}
.dijitMenuBar .dijitMenuItemLabel {
    background: none!important;   
} 
.dijitMenuBar .dijitMenuItemLabel:hover {
	background:var(--sec-bg-color) !important;
}
.dashboard1Theme #portalMenuBar {
	background: var(--main-bg-color) !important;
}
.dashboard1Theme .panel1 {
    padding: 5px;    
    background: var(--main-bg-color) !important;  
    border-radius: 8px;
    width:98%;
    margin:0 auto;
}
.dashboard1Theme .portlet-font {
	font-family: var(--main-font-family) !important;
	color:#555;
}
/* .homepage .portlet-title {
	display:none;
} */
.dijitMenuBar {
	background:none !important;
	background-image:none !important;
}
.menuBarSeperator {
	display:none;
}
.lastLoginContainer select {
	border:2px solid var(--main-bg-color);
	padding:5px;
	border-radius:5px;
}
.portlet-section-body h3 {	
	color:var(--main-text-color);
	border-radius:5px;
}
.logo {
	height:50px;
}
#bookmarkMenu {
	margin-top:5px !important;
}
.menubarImg,.bookmarkMenu .dijitDropDownButton .dijitButtonNode{
	background: var(--main-bg-color) !important;
	padding:2px 10px;
	border-radius:5px !important;
	margin-top:-5px;
}
.portlet .portlet-section-body {	
    border: 1px solid var(--main-bg-color);
    padding: 10px;
    border-radius: 5px;
}
.portlet-section-header span {	
    position: relative;       
}
.colmask .col1 {
	left:99%!important;
}
.portlet-section-header h2 {
	padding:10px !important;
}
.portlet-section-header .portlet-title {
	border-bottom:1px solid var(--main-text-color);
}
.bookmarkMenu #bookmarkDropDownButton {
	background-position:center !important;
	padding:14px 5px 0 25px !important;
}
.dijitMenuBar .dijitMenuItemLabel {
	padding:6px 18px 7px !important;
}
#openweathermap-widget,#weather_desc {
	margin-right:30px;
	color:var(--main-bg-color) !important;	
}
.news_list li{
	color:var(--main-bg-color) !important;
}
#welcome_container {
	position:absolute;
	top:60px;
	left:180px;
	color:#555;
}
#welcome_msg {
	font-weight:bold;
	font-size:25px;
}
#menu_help {
	background: var(--main-bg-color);
	color:var(--main-text-color);
}
.dashboard1Theme .portalMenuBar span{
	color:var(--main-text-color);
}
.dashboard1Theme .lastLoginContainer {
	margin-top:10px;
}
.dashboard1Theme .dijitButton .dijitButtonNode {
	background:var(--main-bg-color);
	color:var(--main-text-color);
	padding:10px 4px;
}
/*** Table Styles **/


.dashboard1Theme .dojoxGridHeader th.dojoxGridCell, .dashboard1Theme #MenuBuilder .dijitCalendarContainer th, .dashboard1Theme #TradeCalendarPortlet .dijitCalendarContainer th  {
	color:var(--main-text-color);
  	background:var(--main-bg-color);
}
.dashboard1Theme #MenuBuilder .dijitCalendarMonthLabel {
	color:var(--main-text-color);
}
.dashboard1Theme .dojoxGrid {
	font-family: var(--main-font-family)!important;
	font-size:1em;
}
.dashboard1Theme .dojoxGridCell {
	border:0.5px solid #C1C3D1!important; 
}
.dashboard1Theme .dojoxGridRow .dojoxGridCell {
	 background:	#EBEBEB 
}
.dashboard1Theme .dojoxGridRowOdd .dojoxGridCell {
	background:	#fff;
}
.dashboard1Theme #MenuBuilder .dijitCalendarDayLabelTemplate, .dashboard1Theme #TradeCalendarPortlet .dijitCalendarDayLabelTemplate {
	background: black!important;
	color: #fff!important;
}
.dashboard1Theme .dijitCalendarPreviousMonth, .dashboard1Theme .dijitCalendarNextMonth {
	    background-color: #ccc;
	    color: #555;
}
.dashboard1Theme #MenuBuilder .dijitCalendarMonthLabel, .dashboard1Theme #TradeCalendarPortlet .dijitCalendarMonthLabel {
	color:var(--main-text-color);
}
/***Welcome.css***/
.widgetContainer .toplevel-header {
	border: 1px solid #555;
    padding: 10%;
    border-radius: 5px;
}

/**Top Menu options**/
.base .portalMenu {
	border:2px solid var(--main-bg-color); 
}

/**Color Palette CSS**/
.color_changer {
			position: fixed;
			right: 40%;
			bottom: 360px;
			z-index: 10000;
			max-height: 0vh;
			overflow: hidden;
			transition: all 1s ease-out, background-color linear 1ms 1s;
			border: 1px solid transparent;
			padding: 5px;
			margin-bottom: 0px;
			border-radius: 4px;
		}
		
		.color_changer.expanded {
			transition: all 1s ease-in, background-color linear 1ms;
			max-height: 100vh;
			border: 1px solid var(--main-bg-color);
			background-color: white;
			color:#555;
		}
		
		.color_changer_row .color_tile {
			width: 25px;
			height: 25px;
			border-radius: 4px;
			float: left;
			margin: 5px;
			cursor: pointer;
		}
		
	/***Delete Icon ***/
	.delIcon {
		float:right;
		margin-right:30px;
		width:20px;
		height:20px;
	}
	/*** Drag n Drop ***/
	 *[draggable=true] {
	  -moz-user-select:none;
	  -khtml-user-drag: element;
	  cursor: move;
	} 
	
.headerRight {
	float:left !important;
	position:relative !important;
	top:88% !important;
}

#DashboardPSML {
	position:relative;
	padding:2%;
	border-radius:5px;
	border:1px solid var( --main-bg-color);
}
.colRight {
	margin-top:1% !important;
}
.colLeftWrap {
	width:99%;
	margin-left:1%;
}

/* .tree-product-menu-container .dijitTreeRow{
	background:var(--sec-bg-color) !important;
} */

/* .tree-product-menu-container .dijitTreeContainer .dijitTreeNode .dijitTreeContainer .dijitTreeNode .dijitTreeContainer {
    background:var(--sec-bg-color) !important;
} */

