@import './../../../../../../styles/variables.scss';

:host ::ng-deep .mat-accordion .mat-expansion-panel-header {
    height: 2.5em !important;
    background: $White-Lilac 0% 0% no-repeat padding-box !important;
    border-radius: 0.125em;
    opacity: 1;
    width: 100%;
   
}

:host ::ng-deep .mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  margin-right: 1em;
  margin-top: -0.1em;
}

:host ::ng-deep .browse-button {
  margin: 1em 0;
  line-height: 2em;
}

:host ::ng-deep .file-extension {
  margin-bottom: 1em !important;
}


:host ::ng-deep .margin-all-side {
  margin: 0.9375em 1.25em 0em 0em;
}

:host ::ng-deep .issuerRef {
  margin-left: 0.45em;
}

:host ::ng-deep .ui-table .ui-table-thead > tr {
    border-bottom: 0.0625em solid $uiTableBorderBottom !important;
  }
  :host ::ng-deep .ui-table .ui-table-thead > tr > th {
    padding: 0em 0.857em;
    padding-top: 1.875em;
    padding-bottom: 0.3125em;
    border: 0em solid $uiTableBorderBorder;
    font-weight: bold;
    background-color: transparent;
    color: $uiTableColor;
    line-height: 0.875em;
    text-align: left;
    font-size: 0.75em;
  }
  
  :host ::ng-deep .ui-paginator {
    display: none;
  }
  
  :host ::ng-deep .ui-table .ui-table-tbody .ui-state-highlight {
    background: $uiTableBackground !important;
  }
  
  :host ::ng-deep .ui-table .ui-table-tbody > tr {
    border-bottom: 0.0625em solid $uiTableBorderBottom !important;
  }
  
  :host ::ng-deep .ui-table .ui-table-tbody > tr:focus {
    outline: none !important;
  }
  
  :host ::ng-deep .ui-table .ui-table-tbody > tr > td {
    background-color:  $uiTableTbodyBackgroundColor;
    border-top: $uiTableTbodyBorderTop;
    border-bottom: $uiTableTbodyBorderBottom;
    border-left: none;
    border-right: none;
    line-height: 1em;
    word-break: break-word;
    padding-top: 1em;
    padding-bottom: 1.1875em;
    text-align: left;
    font-size: 0.875em;
  }
  tr:hover > td {
    border-bottom: 0.0625em solid $secondaryColor !important ;
    border-top: 0.0625em solid $secondaryColor !important ;
  }
  
  tr > td {
    color: black;
  }
  
  :host ::ng-deep.DragDropArea{
    width: 22em !important;
    font-size: 0.875em !important;
    outline: 0 !important;
    display: inline-block !important;
    text-decoration: none !important;
    vertical-align: baseline !important;
    text-align: center !important;
  }
  
  :host ::ng-deep .DragDropArea .ui-fileupload-content {
      min-height: 10em;
      border: 0.15625em dashed $dragDropAreaBorder;
      border-radius: 1em;
      display: block;
      word-break: break-word;
  }
  
  :host ::ng-deep .DragDropArea .ui-fileupload .ui-fileupload-buttonbar {
    display: none;
  }
  
  :host ::ng-deep .DragDropArea .ui-fileupload-content .ui-progressbar {
     display: none;
  }
  
  :host ::ng-deep .DragDropArea .ui-fileupload-content .pi.pi-cloud-upload {
    color: $secondaryColor;
    font-size: 5em;
  }
  :host ::ng-deep .dialogStyle .ui-table .ui-table-tbody > tr > td {
    background-color: $uiDialogBackgroundColor;
    border-top: 0em;
    border-bottom: 0.00625em solid $uiDialogBorderBottom;
    border-left: none;
    border-right: none;
    line-height: 1em;
    word-break: break-word;
    padding: 0em 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    text-align: left;
    font-size: 0.875em;
  }
  :host ::ng-deep.spinnerLeftStyle{
    text-align: right !important;
  }
  
  :host ::ng-deep.spinnerRightStyle{
    text-align: left !important;
  }
  :host ::ng-deep .dialogStyleClass .ui-dialog .ui-dialog-titlebar{
    border: 0.0625em solid  $primaryColor !important;
    background-color:  $primaryColor !important;
  }
  
  :host ::ng-deep .dialogStyleClass .ui-dialog .ui-dialog-content{
    padding: 0.5em !important;
  }
  
  :host ::ng-deep .dialogStyleClass .ui-dialog .ui-dialog-titlebar .ui-dialog-title{
    color: $uiDialogColor !important;
  }
  
  :host ::ng-deep .dialogStyleClass .pi-times:before{
    display: none !important;
  }
  
  :host ::ng-deep .input .ui-inputtext:enabled:focus:not(.ui-state-error) {
    border-color: none !important;
    border-bottom: none !important;
  }
  :host ::ng-deep.invalid-error-text {
    color: $errorMessageColor;
    font-size: 0.75em;
    margin-left: 0em;
  }
  
  :host ::ng-deep.fileUploadTable a:focus {
    outline-color: $primaryColor !important;
    outline-width: 0.25em !important;
  }
  
  :host ::ng-deep.fileUploadTable em {
    color:$fileuploadTableColor !important;
  }
  #file-upload-icons-font {
    font-size: 1.5em !important;
  }
  ::ng-deep .sectionCol9{
    margin: 0em 0em 0em -2em !important;
  }
  :host ::ng-deep .ui-float-label .ui-dropdown .ui-widget {
    z-index: 9997 !important;
    padding-right: 0em !important;
  }