<ng-container [formGroup]="form">
  <div  class="p-col-12 errorMargin" dir={{dir}}>
    <div *ngIf="mode === 'edit'" class="ui-float-label {{control.params.styleClass}}" >
      <input role="textbox" appBlockPaste pInputText  type="password" class="fcc-ui-inputtext" id={{control.key}} tabindex="0" (keyup)="onEventRaised($event,control.key)"
      (click)="onEventRaised($event,control.key)"  (blur)="onEventRaised($event,control.key)" formControlName={{control.key}} maxlength={{control.params.maxlength}}
       [required]="control.params.required" />
      <label [class]="control.params.styleClassName" for="{{control.key}}" tabindex="-1">
        {{ control.params.label }}<a *ngIf = "control.params.required"><em class='fa fa-asterisk fa-sm'></em></a></label>
    </div>
    <span *ngIf="control.params.newPassword" class="label-below">{{control.params.hintText}}</span>
  </div>
</ng-container>
