<script type="text/ng-template" id="error-messages">
    <div ng-message="minlength">{{'MINIMUM_LENGTH_VALIDATION' | translate}}</div>
    <div ng-message="maxlength">{{'MAXIMUM_LENGTH_VALIDATION' | translate}}</div>
    <div ng-message="pattern">{{'PATTERN_MISMATCH' | translate}}</div>
    <div ng-message="samepassword">{{'SAME_PASSWORD' | translate}}</div>
    <div ng-message="mismatch">{{'PASSWORD_MISMATCH' | translate}}</div>
</script>

<ion-view>
	<div class="bar bar-stable bar-subheader">
        <h2 class="title">{{"CHANGE_PASSWORD" | translate}}</h2>
    </div>
    <ion-content class="has-subheader">
        <form name="vm.changePasswordForm" ng-submit="vm.changePassword()" novalidate>
            <ion-list>
                <div class="spacer" style="width: 100%; height: 46px;"></div>
                <ion-input class="item item-input item-floating-label">
			      <ion-label>{{'CURRENT_PASSWORD' | translate}}</ion-label>
			      <input type="password" name="password" placeholder="{{'CURRENT_PASSWORD' | translate}}" ng-model="vm.user.password" ng-init="vm.user.password=''" maxlength="{{vm.pbMax}}" ng-change="vm.compareOldAndNewPassword()">
	   			</ion-input>
			    <span ng-show="vm.changePasswordForm.password.$error" ng-messages="vm.changePasswordForm.password.$error" style="color:red" role="alert">
			      <span ng-messages-include="error-messages"></span>
			    </span>
			    
			    <ion-input class="item item-input item-floating-label">
			      <ion-label>{{'NEW_PASSWORD' | translate}}</ion-label>
			      <input type="password" name="password_value"  placeholder="{{'NEW_PASSWORD' | translate}}" ng-model="vm.user.password_value" ng-minlength="vm.pbMin" maxlength="{{vm.pbMax}}" ng-pattern="vm.pbPattern" ng-change="vm.compareOldAndNewPassword();vm.compareNewAndConfirmPassword()">
			    </ion-input>
			    <span ng-show="vm.changePasswordForm.password_value.$error" ng-messages="vm.changePasswordForm.password_value.$error" style="color:red" role="alert">
			      <span ng-messages-include="error-messages"></span>
			    </span>
			    
				<ion-input class="item item-input item-floating-label">
			      <ion-label>{{'CONFIRM_PASSWORD' | translate}}</ion-label>
			      <input type="password" name="password_confirm"  placeholder="{{'CONFIRM_PASSWORD' | translate}}" ng-model="vm.user.password_confirm" maxlength="{{vm.pbMax}}" ng-change="vm.compareNewAndConfirmPassword()" ng-disabled="vm.changePasswordForm.password_value.$error && vm.changePasswordForm.password_value.$error.samepassword || !vm.user.password_value || vm.user.password_value && vm.user.password_value === ''">
			    </ion-input>
			    <span ng-show="vm.changePasswordForm.password_confirm.$error" ng-messages="vm.changePasswordForm.password_confirm.$error" style="color:red" role="alert">
			      <span ng-messages-include="error-messages"></span>
			    </span>
                <ion-list>
                    <div class="row row-full">
                        <div class="col col-full">
                            <button type="submit" class="button button-block button-positive" ng-disabled="vm.checkAllFields()">{{'SUBMIT' | translate}}</button>
                        </div>
                    </div>
        </form>
    </ion-content>
</ion-view>