@import './../../../../../../styles/variables.scss';

:host ::ng-deep .mainSubHeader {
  font-size: 1.14em;
  color: #4a4a4a;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

:host ::ng-deep .loanRequestTypeStyle .subheader-title {
  margin-bottom: 0.5em;
}

:host ::ng-deep .subheader-title {
  font-size: $font-size-1_0 !important;
}


.spinnerStyle {
  text-align: center;
  padding: 3em 0em;
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
      stroke: #A65494;
  }
  26% {
      stroke: #7262B4;
  }
  51% {
      stroke: #6AA6B4;
  }
  76% {
      stroke: #C6AE74;
  }
}
